WF1 — WhatsApp Gateway Single.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3fcd88b-72ce-409f-a247-3f450e4b7721",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d2863ba-35d9-4694-a76f-1cd486627e9d",
      "name": "Has Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -8256,
        928
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2b5b6dc-73c8-4525-8301-1ec09efab619",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61aba04d-36ed-4f2f-9d59-73c10dedc7e8",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "media-image",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "media-document",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "media-video",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f4a3462a-ce0d-4a22-8911-7ef22f67d373",
      "name": "Message Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -7808,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "626c1e51-6b9a-4c40-a82c-f065f78a56c8",
              "name": "text",
              "value": "={{ $('Merge Credentials').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "01324adb-95f5-458b-9040-a965d3a88524",
              "name": "isPagination",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1327126a-055f-40c5-b840-29765553e3f5",
              "name": "messageSource",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9527a750-e98a-4876-8b20-20f783d24d79",
      "name": "Text Field",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7584,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const interactive = $('Merge Credentials').item.json.messages[0].interactive;\nlet text = '';\nlet isPagination = false;\nlet pageInfo = null;\nlet messageSource = 'button';\n\nif (interactive.button_reply) {\n  const btnId = interactive.button_reply.id;\n  if (btnId === '__repeat_yes__') {\n    text = '__repeat_yes__';\n    messageSource = 'repeat_yes';\n  } else if (btnId === '__repeat_no__') {\n    text = '__repeat_no__';\n    messageSource = 'repeat_no';\n  } else {\n    text = interactive.button_reply.title;\n    messageSource = 'button';\n  }\n} else if (interactive.list_reply) {\n  const listId = interactive.list_reply.id || '';\n  if (listId.startsWith('__page__')) {\n    isPagination = true;\n    const parts = listId.split('__').filter(p => p !== '');\n    pageInfo = { intent: parts[1] || '', fieldName: parts[2] || '', page: parseInt(parts[3] || '1', 10) };\n    messageSource = 'pagination';\n  } else {\n    text = listId;\n    messageSource = 'list_reply';\n  }\n}\n\nreturn [{ json: { text, isPagination, pageInfo, messageSource } }];"
      },
      "id": "4e1347b2-f5a8-4c12-bfee-7a4fd419819e",
      "name": "Interactive message extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7584,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.whatsappAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Merge Credentials').item.json.messages[0].from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Unknown Response\" }\n}",
        "options": {}
      },
      "id": "0d7827e7-f27c-43d7-b580-3d6ef932a929",
      "name": "Unknown Type Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7584,
        1280
      ],
      "webhookId": "e4814d63-6faa-4268-8009-b6d5728e066f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d528375b-3c90-4e39-b96b-d3d4b6ae46e0",
              "leftValue": "={{ $json.isPagination }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a9a8a4e-6c4e-4ce1-b19e-2322e1d1c30d",
      "name": "Is Pagination?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7360,
        832
      ]
    },
    {
      "parameters": {
        "collection": "options_cache",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Merge Credentials').item.json.messages[0].from, intentName: $json.pageInfo.intent, fieldName: $json.pageInfo.fieldName }) }}"
      },
      "id": "4b87988c-4711-4765-ba47-f937da740389",
      "name": "Check Options Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -7136,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cache = $input.first().json;\nconst pageInfo = $('Interactive message extract').first().json.pageInfo;\nconst phoneNumber = $('Merge Credentials').item.json.messages[0].from;\n\nif (!cache || !cache.options) {\n  return [{ json: { responseType: 'text', message: 'Options have expired. Please start your request again.' } }];\n}\n\nlet allOptions = [];\ntry { allOptions = typeof cache.options === 'string' ? JSON.parse(cache.options) : cache.options; } catch(e) { allOptions = []; }\n\nconst page = pageInfo.page || 1;\nconst intentName = pageInfo.intent;\nconst fieldName = pageInfo.fieldName;\n\nfunction paginateSections(sections, page, intentName, fieldName) {\n  const PAGE_SIZE = 8;\n  const flatRows = [];\n  for (const sec of sections) {\n    for (const row of sec.rows) {\n      flatRows.push({\n        sectionTitle: sec.title,\n        rowId: row.id,\n        rowTitle: row.title\n      });\n    }\n  }\n  const totalPages = Math.ceil(flatRows.length / PAGE_SIZE);\n  const startIdx = (page - 1) * PAGE_SIZE;\n  const endIdx = Math.min(startIdx + PAGE_SIZE, flatRows.length);\n  const pageRows = flatRows.slice(startIdx, endIdx);\n  const paginatedSections = [];\n  const sectionMap = {};\n  for (const item of pageRows) {\n    if (!sectionMap[item.sectionTitle]) {\n      sectionMap[item.sectionTitle] = { title: item.sectionTitle, rows: [] };\n      paginatedSections.push(sectionMap[item.sectionTitle]);\n    }\n    sectionMap[item.sectionTitle].rows.push({ id: item.rowId, title: item.rowTitle });\n  }\n  const navigationRows = [];\n  if (page > 1) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous dates' });\n  }\n  if (page < totalPages) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: 'More dates & times' });\n  }\n  if (navigationRows.length > 0) {\n    paginatedSections.push({ title: 'Other dates', rows: navigationRows });\n  }\n  return paginatedSections;\n}\n\nif (allOptions.length > 0 && allOptions[0].rows) {\n  const paginated = paginateSections(allOptions, page, intentName, fieldName);\n  return [{ json: {\n    responseType: 'interactive', message: 'Please select an option:',\n    interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n      interactive: { type: 'list', body: { text: 'Please select an option:' },\n        action: { button: 'View options', sections: paginated } } }\n  } }];\n}\n\nconst totalPages = Math.ceil(allOptions.length / 10);\nlet rows = [];\nlet startIdx, endIdx;\nif (page === 1) { startIdx = 0; endIdx = Math.min(9, allOptions.length); }\nelse { startIdx = (page - 1) * 10 - 1; endIdx = Math.min(startIdx + 8, allOptions.length); }\n\nfor (let i = startIdx; i < endIdx; i++) {\n  rows.push({ id: allOptions[i].id, title: (allOptions[i].title || '').substring(0, 24) });\n}\n\nif (page > 1) rows.unshift({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous' });\nif (page < totalPages) rows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: '▶ More options' });\n\nreturn [{ json: {\n  responseType: 'interactive', message: 'Please select an option:',\n  interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n    interactive: { type: 'list', body: { text: 'Please select an option:' },\n      action: { button: 'View options', sections: [{ title: 'Options', rows }] } } }\n} }];"
      },
      "id": "06c1b730-fa94-45dc-9165-b92112b88491",
      "name": "Build Pagination List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6912,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "6ca2dbd9-641c-452d-a81c-1eec8a09aa5b",
      "name": "Send Pagination Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6688,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LBGOkdoAOmlS1q2L",
          "mode": "id",
          "cachedResultUrl": "/workflow/LBGOkdoAOmlS1q2L"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $json.text }}",
            "phoneNumber": "={{ $('Merge Credentials').item.json.messages[0].from }}",
            "display_phone_number": "={{ $('Merge Credentials').item.json.metadata.display_phone_number }}",
            "messageSource": "={{ $json.messageSource }}",
            "userName": "={{ $('Extract Payload').first().json.contacts?.[0]?.profile?.name || 'User' }}",
            "mediaType": "={{ $json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b4ce11fa-620b-49b6-b691-1e34c34d171f",
      "name": "Call Business Logic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -7136,
        944
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b55cf0b-5bae-4fe8-a8a4-95c491218b5c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e5f912b-93ee-4295-86a6-dd36bba0709c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9b2b2b61-d208-4c79-84d1-62e305340163",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6912,
        928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "f29fb022-0fb2-418c-bdc0-b43c42a025c0",
      "name": "Send Interactive Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6688,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: \"whatsapp\", to: $('Merge Credentials').item.json.messages[0].from, type: \"text\", text: { body: $json.message } }) }}",
        "options": {}
      },
      "id": "1123d0b5-5024-4967-84d6-b04b53acfde3",
      "name": "Send Text Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6688,
        1040
      ],
      "webhookId": "b02ee0d8-9b7b-4dce-9e36-4b7ba131d2c1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.messages[0].id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}",
        "options": {}
      },
      "id": "75b3772c-a72d-4be0-985a-9fb329bdc014",
      "name": "Typing Indicator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8016,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Merge Credentials').item.json.messages[0];\nlet text = '';\nlet mediaType = msg.type;\nif (msg.type === 'image') text = msg.image.id;\nelse if (msg.type === 'document') text = msg.document.id;\nelse if (msg.type === 'video') text = msg.video.id;\nelse { text = 'unknown_media'; mediaType = 'unknown'; }\n\nreturn [{ json: { text, isPagination: false, pageInfo: null, messageSource: 'media', mediaType } }];"
      },
      "id": "cc4422eb-db41-4d73-bcc2-eedc4c0d063c",
      "name": "Media Field Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7584,
        1120
      ]
    },
    {
      "parameters": {
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "642a2965-682e-47cb-8015-908c10d7be45",
      "name": "Webhook GET Challenge",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -9440,
        480
      ],
      "webhookId": "4c0cafbe-7683-4af1-803d-711ee576deee"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "5b332dee-cbf3-4be4-aeab-2becf40af61f",
      "name": "Respond to Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -9200,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "options": {}
      },
      "id": "67717a16-b7a1-4a08-a689-55c28299abe2",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -9440,
        928
      ],
      "webhookId": "e70e821c-a081-4146-9921-1b56ab34901d"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nif (!body || !body.entry || !body.entry[0].changes || !body.entry[0].changes[0].value) return [];\nreturn [{ json: body.entry[0].changes[0].value }];"
      },
      "id": "f199eb20-a7bc-4465-8550-9ef66f65b6f5",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9248,
        928
      ]
    },
    {
      "parameters": {
        "collection": "integrations",
        "options": {},
        "query": "={{ JSON.stringify({ identifier: $json.metadata.phone_number_id, isActive: true }) }}"
      },
      "id": "d5dcd0f8-a212-45de-8dea-b4c1cd982108",
      "name": "Find Agent Credentials",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -8816,
        928
      ],
      "credentials": {
        "mongoDb": {
          "id": "aX4C7RRQTBjcpgNp",
          "name": "ddf-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agent = $('Find Agent Credentials').first().json;\nconst payload = $('Extract Payload').first().json;\npayload.agentCredentials = agent.authData || {};\nreturn [{ json: payload }];"
      },
      "id": "981f9642-4980-49c3-920f-8ea2c32b7725",
      "name": "Merge Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8432,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2758a44-6101-4cb3-86a1-c186be5c515e",
              "leftValue": "={{ $json.message_template_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef1ad582-4694-4f29-89a8-039edd382147",
      "name": "Is Template Status Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -9040,
        928
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yaiiU4CuAL8cWbZ4",
          "mode": "id",
          "cachedResultUrl": "/workflow/yaiiU4CuAL8cWbZ4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body": "={{ $('Webhook POST').item.json.body }}"
          },
          "schema": [
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "62e2bcc0-cb97-4574-9267-7b1389112091",
      "name": "Call Template Status Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -8816,
        672
      ]
    },
    {
      "parameters": {
        "collection": "agents",
        "options": {},
        "query": "={{ JSON.stringify({ $expr: { $eq: [ { $toString: \"$integrationId\" }, $json._id ] }, isActive: true }) }}"
      },
      "id": "e3e2c698-6521-4415-ac61-160c499ea5df",
      "name": "Find Active Agent",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -8608,
        928
      ],
      "credentials": {
        "mongoDb": {
          "id": "aX4C7RRQTBjcpgNp",
          "name": "ddf-dev"
        }
      }
    }
  ],
  "connections": {
    "Has Messages": {
      "main": [
        [
          {
            "node": "Typing Indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Text Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interactive message extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Field Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Field Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Field Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Type Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Field": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interactive message extract": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pagination?": {
      "main": [
        [
          {
            "node": "Check Options Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Business Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Options Cache": {
      "main": [
        [
          {
            "node": "Build Pagination List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pagination List": {
      "main": [
        [
          {
            "node": "Send Pagination Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Business Logic": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Send Interactive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Indicator": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Field Extract": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET Challenge": {
      "main": [
        [
          {
            "node": "Respond to Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Is Template Status Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Agent Credentials": {
      "main": [
        [
          {
            "node": "Find Active Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Credentials": {
      "main": [
        [
          {
            "node": "Has Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Template Status Update?": {
      "main": [
        [
          {
            "node": "Call Template Status Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Agent Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Active Agent": {
      "main": [
        [
          {
            "node": "Merge Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}