WF1 — WhatsApp Gateway Single.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3fcd88b-72ce-409f-a247-3f450e4b7721",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "733233fa-0e7a-415e-b9de-f7e314f01715",
      "name": "Has Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2b5b6dc-73c8-4525-8301-1ec09efab619",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61aba04d-36ed-4f2f-9d59-73c10dedc7e8",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "media-image",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "media-document",
                    "leftValue": "={{ $('Merge Credentials').item.json.messages[0].type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e7a65026-bb40-4258-95f4-d5efd6d5ad2a",
      "name": "Message Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -688,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "626c1e51-6b9a-4c40-a82c-f065f78a56c8",
              "name": "text",
              "value": "={{ $('Merge Credentials').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "01324adb-95f5-458b-9040-a965d3a88524",
              "name": "isPagination",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1327126a-055f-40c5-b840-29765553e3f5",
              "name": "messageSource",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fd7cb46e-67e6-4307-a660-a32de6291a0e",
      "name": "Text Field",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const interactive = $('Merge Credentials').item.json.messages[0].interactive;\nlet text = '';\nlet isPagination = false;\nlet pageInfo = null;\nlet messageSource = 'button';\n\nif (interactive.button_reply) {\n  const btnId = interactive.button_reply.id;\n  if (btnId === '__repeat_yes__') {\n    text = '__repeat_yes__';\n    messageSource = 'repeat_yes';\n  } else if (btnId === '__repeat_no__') {\n    text = '__repeat_no__';\n    messageSource = 'repeat_no';\n  } else {\n    text = interactive.button_reply.title;\n    messageSource = 'button';\n  }\n} else if (interactive.list_reply) {\n  const listId = interactive.list_reply.id || '';\n  if (listId.startsWith('__page__')) {\n    isPagination = true;\n    const parts = listId.split('__').filter(p => p !== '');\n    pageInfo = { intent: parts[1] || '', fieldName: parts[2] || '', page: parseInt(parts[3] || '1', 10) };\n    messageSource = 'pagination';\n  } else {\n    text = listId;\n    messageSource = 'list_reply';\n  }\n}\n\nreturn [{ json: { text, isPagination, pageInfo, messageSource } }];"
      },
      "id": "4fc7559f-471d-4ee8-b26f-e81e0d8fe601",
      "name": "Interactive message extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.whatsappAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Merge Credentials').item.json.messages[0].from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"Unknown Response\" }\n}",
        "options": {}
      },
      "id": "3569ba55-15a0-4c9a-9b12-c28aae884e4e",
      "name": "Unknown Type Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -464,
        592
      ],
      "webhookId": "e4814d63-6faa-4268-8009-b6d5728e066f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d528375b-3c90-4e39-b96b-d3d4b6ae46e0",
              "leftValue": "={{ $json.isPagination }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3ebe8c5-f6d4-4399-9c1a-27ff3ca2a005",
      "name": "Is Pagination?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "collection": "options_cache",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Merge Credentials').item.json.messages[0].from, intentName: $json.pageInfo.intent, fieldName: $json.pageInfo.fieldName }) }}"
      },
      "id": "80fd02b3-1f62-47df-93c6-46b9bbbbfaf5",
      "name": "Check Options Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -16,
        -48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cache = $input.first().json;\nconst pageInfo = $('Interactive message extract').first().json.pageInfo;\nconst phoneNumber = $('Merge Credentials').item.json.messages[0].from;\n\nif (!cache || !cache.options) {\n  return [{ json: { responseType: 'text', message: 'Options have expired. Please start your request again.' } }];\n}\n\nlet allOptions = [];\ntry { allOptions = typeof cache.options === 'string' ? JSON.parse(cache.options) : cache.options; } catch(e) { allOptions = []; }\n\nconst page = pageInfo.page || 1;\nconst intentName = pageInfo.intent;\nconst fieldName = pageInfo.fieldName;\n\nfunction paginateSections(sections, page, intentName, fieldName) {\n  const PAGE_SIZE = 8;\n  const flatRows = [];\n  for (const sec of sections) {\n    for (const row of sec.rows) {\n      flatRows.push({\n        sectionTitle: sec.title,\n        rowId: row.id,\n        rowTitle: row.title\n      });\n    }\n  }\n  const totalPages = Math.ceil(flatRows.length / PAGE_SIZE);\n  const startIdx = (page - 1) * PAGE_SIZE;\n  const endIdx = Math.min(startIdx + PAGE_SIZE, flatRows.length);\n  const pageRows = flatRows.slice(startIdx, endIdx);\n  const paginatedSections = [];\n  const sectionMap = {};\n  for (const item of pageRows) {\n    if (!sectionMap[item.sectionTitle]) {\n      sectionMap[item.sectionTitle] = { title: item.sectionTitle, rows: [] };\n      paginatedSections.push(sectionMap[item.sectionTitle]);\n    }\n    sectionMap[item.sectionTitle].rows.push({ id: item.rowId, title: item.rowTitle });\n  }\n  const navigationRows = [];\n  if (page > 1) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous dates' });\n  }\n  if (page < totalPages) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: 'More dates & times' });\n  }\n  if (navigationRows.length > 0) {\n    paginatedSections.push({ title: 'Other dates', rows: navigationRows });\n  }\n  return paginatedSections;\n}\n\nif (allOptions.length > 0 && allOptions[0].rows) {\n  const paginated = paginateSections(allOptions, page, intentName, fieldName);\n  return [{ json: {\n    responseType: 'interactive', message: 'Please select an option:',\n    interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n      interactive: { type: 'list', body: { text: 'Please select an option:' },\n        action: { button: 'View options', sections: paginated } } }\n  } }];\n}\n\nconst totalPages = Math.ceil(allOptions.length / 10);\nlet rows = [];\nlet startIdx, endIdx;\nif (page === 1) { startIdx = 0; endIdx = Math.min(9, allOptions.length); }\nelse { startIdx = (page - 1) * 10 - 1; endIdx = Math.min(startIdx + 8, allOptions.length); }\n\nfor (let i = startIdx; i < endIdx; i++) {\n  rows.push({ id: allOptions[i].id, title: (allOptions[i].title || '').substring(0, 24) });\n}\n\nif (page > 1) rows.unshift({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous' });\nif (page < totalPages) rows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: '▶ More options' });\n\nreturn [{ json: {\n  responseType: 'interactive', message: 'Please select an option:',\n  interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n    interactive: { type: 'list', body: { text: 'Please select an option:' },\n      action: { button: 'View options', sections: [{ title: 'Options', rows }] } } }\n} }];"
      },
      "id": "3437060a-2c2e-48b2-9ea4-a139cf744887",
      "name": "Build Pagination List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.whatsappAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "90557a2f-3025-45ca-a84d-3a36ecaa4d22",
      "name": "Send Pagination Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        -48
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LBGOkdoAOmlS1q2L",
          "mode": "id",
          "cachedResultUrl": "/workflow/LBGOkdoAOmlS1q2L"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $json.text }}",
            "phoneNumber": "={{ $('Merge Credentials').item.json.messages[0].from }}",
            "display_phone_number": "={{ $('Merge Credentials').item.json.metadata.display_phone_number }}",
            "messageSource": "={{ $json.messageSource }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a2dc1cc1-da7f-4972-ba50-c52ced25603c",
      "name": "Call Business Logic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -16,
        256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b55cf0b-5bae-4fe8-a8a4-95c491218b5c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e5f912b-93ee-4295-86a6-dd36bba0709c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "289ae90c-102f-4ae6-a900-5608c8266a04",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        208,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.whatsappAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "9a98328d-d9f4-43f2-99a0-369571027aa3",
      "name": "Send Interactive Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Merge Credentials').item.json.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.whatsappAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Merge Credentials').item.json.messages[0].from }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}",
        "options": {}
      },
      "id": "575bea32-8a32-4135-a4d4-eafe2b6c70cb",
      "name": "Send Text Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        352
      ],
      "webhookId": "b02ee0d8-9b7b-4dce-9e36-4b7ba131d2c1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.metadata.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Merge Credentials').item.json.agentCredentials.whatsappAccessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.messages[0].id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}",
        "options": {}
      },
      "id": "2cd708c8-e5b0-424a-b1b9-b5c9d26c62de",
      "name": "Typing Indicator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -896,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Merge Credentials').item.json.messages[0];\nlet text = '';\nif (msg.type === 'image') text = msg.image.id;\nelse if (msg.type === 'document') text = msg.document.id;\nelse text = 'unknown_media';\n\nreturn [{ json: { text, isPagination: false, pageInfo: null, messageSource: 'media' } }];"
      },
      "id": "c4b0553c-d878-4c93-9fe7-8eb89c1c0bb3",
      "name": "Media Field Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        384
      ]
    },
    {
      "parameters": {
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7fd8503e-9b09-4b35-b048-95df9e7a0cb6",
      "name": "Webhook GET Challenge",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1904,
        -32
      ],
      "webhookId": "4c0cafbe-7683-4af1-803d-711ee576deee"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "9ad6f7a9-eed8-4fc4-be09-3889ec62a3ba",
      "name": "Respond to Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1664,
        -32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "options": {}
      },
      "id": "8208245d-3cd1-4094-8b4c-6cf21a5ee4ab",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1904,
        240
      ],
      "webhookId": "e70e821c-a081-4146-9921-1b56ab34901d"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nif (!body || !body.entry || !body.entry[0].changes || !body.entry[0].changes[0].value) return [];\nreturn [{ json: body.entry[0].changes[0].value }];"
      },
      "id": "863b4a1f-bff5-43bf-965c-4c05934fe0e1",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        240
      ]
    },
    {
      "parameters": {
        "collection": "agents",
        "options": {},
        "query": "={{ JSON.stringify({ identifier: $json.metadata.phone_number_id, isActive: true }) }}"
      },
      "id": "2c96a76a-84df-4e6a-ae2f-cb4a60877a90",
      "name": "Find Agent Credentials",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1520,
        240
      ],
      "credentials": {
        "mongoDb": {
          "id": "aX4C7RRQTBjcpgNp",
          "name": "ddf-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agent = $json;\nconst payload = $('Extract Payload').first().json;\npayload.agentCredentials = agent.credentials || {};\nreturn [{ json: payload }];"
      },
      "id": "4ad73a02-dd4a-44bc-89cd-b68807c47612",
      "name": "Merge Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        240
      ]
    }
  ],
  "connections": {
    "Has Messages": {
      "main": [
        [
          {
            "node": "Typing Indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Text Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interactive message extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Field Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Field Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Type Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Field": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interactive message extract": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pagination?": {
      "main": [
        [
          {
            "node": "Check Options Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Business Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Options Cache": {
      "main": [
        [
          {
            "node": "Build Pagination List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pagination List": {
      "main": [
        [
          {
            "node": "Send Pagination Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Business Logic": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Send Interactive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Indicator": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Field Extract": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET Challenge": {
      "main": [
        [
          {
            "node": "Respond to Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Find Agent Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Agent Credentials": {
      "main": [
        [
          {
            "node": "Merge Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Credentials": {
      "main": [
        [
          {
            "node": "Has Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}