WF1 — WhatsApp Gateway (v11).json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "5fe858d3-1720-4d31-a9ea-085db51e0976",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        112
      ],
      "webhookId": "3a37e8f6-d4aa-4af8-a481-3bcc33b19a3f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "CHKanEWI45SSVcgF",
          "name": "WhatsApp Trigger - Idea Spark - Chat bot - 15556345743"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3fcd88b-72ce-409f-a247-3f450e4b7721",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56716eac-e504-456e-8d31-aa3c87e364b8",
      "name": "Has Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2b5b6dc-73c8-4525-8301-1ec09efab619",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61aba04d-36ed-4f2f-9d59-73c10dedc7e8",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "7e24d2a6-22e8-4ae6-86d9-0083261611e5",
      "name": "Message Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -816,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "626c1e51-6b9a-4c40-a82c-f065f78a56c8",
              "name": "text",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "01324adb-95f5-458b-9040-a965d3a88524",
              "name": "isPagination",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1327126a-055f-40c5-b840-29765553e3f5",
              "name": "messageSource",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0644f63f-4613-4099-bb4a-e2e81b891d4c",
      "name": "Text Field",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const interactive = $('WhatsApp Trigger').item.json.messages[0].interactive;\nlet text = '';\nlet isPagination = false;\nlet pageInfo = null;\nlet messageSource = 'button';\n\nif (interactive.button_reply) {\n  const btnId = interactive.button_reply.id;\n  if (btnId === '__repeat_yes__') {\n    text = '__repeat_yes__';\n    messageSource = 'repeat_yes';\n  } else if (btnId === '__repeat_no__') {\n    text = '__repeat_no__';\n    messageSource = 'repeat_no';\n  } else {\n    text = interactive.button_reply.title;\n    messageSource = 'button';\n  }\n} else if (interactive.list_reply) {\n  const listId = interactive.list_reply.id || '';\n  if (listId.startsWith('__page__')) {\n    isPagination = true;\n    const parts = listId.split('__').filter(p => p !== '');\n    pageInfo = { intent: parts[1] || '', fieldName: parts[2] || '', page: parseInt(parts[3] || '1', 10) };\n    messageSource = 'pagination';\n  } else {\n    text = listId;\n    messageSource = 'list_reply';\n  }\n}\n\nreturn [{ json: { text, isPagination, pageInfo, messageSource } }];"
      },
      "id": "7841f61d-7527-4293-a89f-07a08c0936ca",
      "name": "Interactive message extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        96
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "Unknown Response",
        "additionalFields": {}
      },
      "id": "92f4ecc8-0bc7-4867-a1ab-10d70fb75dbc",
      "name": "Unknown Type Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -592,
        304
      ],
      "webhookId": "e4814d63-6faa-4268-8009-b6d5728e066f",
      "credentials": {
        "whatsAppApi": {
          "id": "B1mbCw4xDpwfRY02",
          "name": "WhatsApp Trigger - Idea Spark - Chat bot - 15556345743"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d528375b-3c90-4e39-b96b-d3d4b6ae46e0",
              "leftValue": "={{ $json.isPagination }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65294aee-2240-496e-b534-c4659725c6f2",
      "name": "Is Pagination?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        16
      ]
    },
    {
      "parameters": {
        "collection": "options_cache",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('WhatsApp Trigger').item.json.messages[0].from, intentName: $json.pageInfo.intent, fieldName: $json.pageInfo.fieldName }) }}"
      },
      "id": "b545101c-3693-4d6b-8768-01d05a057759",
      "name": "Check Options Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -144,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const cache = $input.first().json;\nconst pageInfo = $('Interactive message extract').first().json.pageInfo;\nconst phoneNumber = $('WhatsApp Trigger').item.json.messages[0].from;\n\nif (!cache || !cache.options) {\n  return [{ json: { responseType: 'text', message: 'Options have expired. Please start your request again.' } }];\n}\n\nlet allOptions = [];\ntry { allOptions = typeof cache.options === 'string' ? JSON.parse(cache.options) : cache.options; } catch(e) { allOptions = []; }\n\nconst page = pageInfo.page || 1;\nconst intentName = pageInfo.intent;\nconst fieldName = pageInfo.fieldName;\n\nfunction paginateSections(sections, page, intentName, fieldName) {\n  const PAGE_SIZE = 8;\n  const flatRows = [];\n  for (const sec of sections) {\n    for (const row of sec.rows) {\n      flatRows.push({\n        sectionTitle: sec.title,\n        rowId: row.id,\n        rowTitle: row.title\n      });\n    }\n  }\n  const totalPages = Math.ceil(flatRows.length / PAGE_SIZE);\n  const startIdx = (page - 1) * PAGE_SIZE;\n  const endIdx = Math.min(startIdx + PAGE_SIZE, flatRows.length);\n  const pageRows = flatRows.slice(startIdx, endIdx);\n  const paginatedSections = [];\n  const sectionMap = {};\n  for (const item of pageRows) {\n    if (!sectionMap[item.sectionTitle]) {\n      sectionMap[item.sectionTitle] = { title: item.sectionTitle, rows: [] };\n      paginatedSections.push(sectionMap[item.sectionTitle]);\n    }\n    sectionMap[item.sectionTitle].rows.push({ id: item.rowId, title: item.rowTitle });\n  }\n  const navigationRows = [];\n  if (page > 1) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous dates' });\n  }\n  if (page < totalPages) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: 'More dates & times' });\n  }\n  if (navigationRows.length > 0) {\n    paginatedSections.push({ title: 'Other dates', rows: navigationRows });\n  }\n  return paginatedSections;\n}\n\nif (allOptions.length > 0 && allOptions[0].rows) {\n  const paginated = paginateSections(allOptions, page, intentName, fieldName);\n  return [{ json: {\n    responseType: 'interactive', message: 'Please select an option:',\n    interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n      interactive: { type: 'list', body: { text: 'Please select an option:' },\n        action: { button: 'View options', sections: paginated } } }\n  } }];\n}\n\nconst totalPages = Math.ceil(allOptions.length / 10);\nlet rows = [];\nlet startIdx, endIdx;\nif (page === 1) { startIdx = 0; endIdx = Math.min(9, allOptions.length); }\nelse { startIdx = (page - 1) * 10 - 1; endIdx = Math.min(startIdx + 8, allOptions.length); }\n\nfor (let i = startIdx; i < endIdx; i++) {\n  rows.push({ id: allOptions[i].id, title: (allOptions[i].title || '').substring(0, 24) });\n}\n\nif (page > 1) rows.unshift({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous' });\nif (page < totalPages) rows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: '▶ More options' });\n\nreturn [{ json: {\n  responseType: 'interactive', message: 'Please select an option:',\n  interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n    interactive: { type: 'list', body: { text: 'Please select an option:' },\n      action: { button: 'View options', sections: [{ title: 'Options', rows }] } } }\n} }];"
      },
      "id": "2cad7844-275e-4c3e-8273-2dc27e9a036f",
      "name": "Build Pagination List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id}}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "ada7062d-fb8e-4c37-8949-8712891d4cd3",
      "name": "Send Pagination Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        -176
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "B1mbCw4xDpwfRY02",
          "name": "WhatsApp Trigger - Idea Spark - Chat bot - 15556345743"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dnZEj0RKsfVDPjKa",
          "mode": "id",
          "cachedResultUrl": "/workflow/dnZEj0RKsfVDPjKa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $json.text }}",
            "phoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "display_phone_number": "={{ $('WhatsApp Trigger').item.json.metadata.display_phone_number }}",
            "messageSource": "={{ $json.messageSource }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f06d2a38-d199-4966-9da6-c6465d843188",
      "name": "Call Business Logic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -144,
        128
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b55cf0b-5bae-4fe8-a8a4-95c491218b5c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e5f912b-93ee-4295-86a6-dd36bba0709c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "39e7d57e-164a-4236-805a-a9da88578ff8",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        80,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id}}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "439be274-3a26-49ea-84d9-bce49cd2ec43",
      "name": "Send Interactive Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        32
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "B1mbCw4xDpwfRY02",
          "name": "WhatsApp Trigger - Idea Spark - Chat bot - 15556345743"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "bab2f662-705c-49d9-8d10-12a7a2050030",
      "name": "Send Text Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "webhookId": "b02ee0d8-9b7b-4dce-9e36-4b7ba131d2c1",
      "credentials": {
        "whatsAppApi": {
          "id": "B1mbCw4xDpwfRY02",
          "name": "WhatsApp Trigger - Idea Spark - Chat bot - 15556345743"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.metadata.phone_number_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.messages[0].id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}",
        "options": {}
      },
      "id": "957f31cb-d700-44e1-85c3-293a5cc3967d",
      "name": "Typing Indicator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1024,
        96
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "B1mbCw4xDpwfRY02",
          "name": "WhatsApp Trigger - Idea Spark - Chat bot - 15556345743"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Has Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Messages": {
      "main": [
        [
          {
            "node": "Typing Indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Text Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interactive message extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Type Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Field": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interactive message extract": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pagination?": {
      "main": [
        [
          {
            "node": "Check Options Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Business Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Options Cache": {
      "main": [
        [
          {
            "node": "Build Pagination List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pagination List": {
      "main": [
        [
          {
            "node": "Send Pagination Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Business Logic": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Send Interactive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Indicator": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "04a9c58622056ef55515df3e1f34eb7e9fbe2a87feeda0dcc951b2fb4871723b"
  }
}