WF1 — WhatsApp Gateway.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "96aa55fa-ba25-432a-a6f5-291d44c3de63",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1344,
        288
      ],
      "webhookId": "97b2ba5c-ef28-4229-b359-8cebace2c318",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "GbBrEd6jkeqCPCEY",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3fcd88b-72ce-409f-a247-3f450e4b7721",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3305c022-8702-49bd-960d-184c184bfba4",
      "name": "Has Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2b5b6dc-73c8-4525-8301-1ec09efab619",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "61aba04d-36ed-4f2f-9d59-73c10dedc7e8",
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f781ee25-8106-4f61-9221-2a3df94fbf85",
      "name": "Message Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -672,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "626c1e51-6b9a-4c40-a82c-f065f78a56c8",
              "name": "text",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "01324adb-95f5-458b-9040-a965d3a88524",
              "name": "isPagination",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1327126a-055f-40c5-b840-29765553e3f5",
              "name": "messageSource",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "437fcb92-d347-45c1-9d2e-728522e073cd",
      "name": "Text Field",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const interactive = $('WhatsApp Trigger').item.json.messages[0].interactive;\nlet text = '';\nlet isPagination = false;\nlet pageInfo = null;\nlet messageSource = 'button';\n\nif (interactive.button_reply) {\n  const btnId = interactive.button_reply.id;\n  if (btnId === '__repeat_yes__') {\n    text = '__repeat_yes__';\n    messageSource = 'repeat_yes';\n  } else if (btnId === '__repeat_no__') {\n    text = '__repeat_no__';\n    messageSource = 'repeat_no';\n  } else {\n    text = interactive.button_reply.title;\n    messageSource = 'button';\n  }\n} else if (interactive.list_reply) {\n  const listId = interactive.list_reply.id || '';\n  if (listId.startsWith('__page__')) {\n    isPagination = true;\n    const parts = listId.split('__').filter(p => p !== '');\n    pageInfo = { intent: parts[1] || '', fieldName: parts[2] || '', page: parseInt(parts[3] || '1', 10) };\n    messageSource = 'pagination';\n  } else {\n    text = listId;\n    messageSource = 'list_reply';\n  }\n}\n\nreturn [{ json: { text, isPagination, pageInfo, messageSource } }];"
      },
      "id": "821957d2-5445-4d84-b4db-5f315976c437",
      "name": "Interactive message extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        272
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "Unknown Response",
        "additionalFields": {}
      },
      "id": "c3a89f77-8ed8-4250-8add-d74aba98c83a",
      "name": "Unknown Type Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -448,
        480
      ],
      "webhookId": "e4814d63-6faa-4268-8009-b6d5728e066f",
      "credentials": {
        "whatsAppApi": {
          "id": "LUWmF6zx9scLImUL",
          "name": "Responseloop Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d528375b-3c90-4e39-b96b-d3d4b6ae46e0",
              "leftValue": "={{ $json.isPagination }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "86fc7e42-084c-4046-b92e-474dd03865f7",
      "name": "Is Pagination?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "collection": "options_cache",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('WhatsApp Trigger').item.json.messages[0].from, intentName: $json.pageInfo.intent, fieldName: $json.pageInfo.fieldName }) }}"
      },
      "id": "382d7b44-8948-42cd-ad13-f714d8bf2072",
      "name": "Check Options Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cache = $input.first().json;\nconst pageInfo = $('Interactive message extract').first().json.pageInfo;\nconst phoneNumber = $('WhatsApp Trigger').item.json.messages[0].from;\n\nif (!cache || !cache.options) {\n  return [{ json: { responseType: 'text', message: 'Options have expired. Please start your request again.' } }];\n}\n\nlet allOptions = [];\ntry { allOptions = typeof cache.options === 'string' ? JSON.parse(cache.options) : cache.options; } catch(e) { allOptions = []; }\n\nconst page = pageInfo.page || 1;\nconst intentName = pageInfo.intent;\nconst fieldName = pageInfo.fieldName;\n\nfunction paginateSections(sections, page, intentName, fieldName) {\n  const PAGE_SIZE = 8;\n  const flatRows = [];\n  for (const sec of sections) {\n    for (const row of sec.rows) {\n      flatRows.push({\n        sectionTitle: sec.title,\n        rowId: row.id,\n        rowTitle: row.title\n      });\n    }\n  }\n  const totalPages = Math.ceil(flatRows.length / PAGE_SIZE);\n  const startIdx = (page - 1) * PAGE_SIZE;\n  const endIdx = Math.min(startIdx + PAGE_SIZE, flatRows.length);\n  const pageRows = flatRows.slice(startIdx, endIdx);\n  const paginatedSections = [];\n  const sectionMap = {};\n  for (const item of pageRows) {\n    if (!sectionMap[item.sectionTitle]) {\n      sectionMap[item.sectionTitle] = { title: item.sectionTitle, rows: [] };\n      paginatedSections.push(sectionMap[item.sectionTitle]);\n    }\n    sectionMap[item.sectionTitle].rows.push({ id: item.rowId, title: item.rowTitle });\n  }\n  const navigationRows = [];\n  if (page > 1) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous dates' });\n  }\n  if (page < totalPages) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: 'More dates & times' });\n  }\n  if (navigationRows.length > 0) {\n    paginatedSections.push({ title: 'Other dates', rows: navigationRows });\n  }\n  return paginatedSections;\n}\n\nif (allOptions.length > 0 && allOptions[0].rows) {\n  const paginated = paginateSections(allOptions, page, intentName, fieldName);\n  return [{ json: {\n    responseType: 'interactive', message: 'Please select an option:',\n    interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n      interactive: { type: 'list', body: { text: 'Please select an option:' },\n        action: { button: 'View options', sections: paginated } } }\n  } }];\n}\n\nconst totalPages = Math.ceil(allOptions.length / 10);\nlet rows = [];\nlet startIdx, endIdx;\nif (page === 1) { startIdx = 0; endIdx = Math.min(9, allOptions.length); }\nelse { startIdx = (page - 1) * 10 - 1; endIdx = Math.min(startIdx + 8, allOptions.length); }\n\nfor (let i = startIdx; i < endIdx; i++) {\n  rows.push({ id: allOptions[i].id, title: (allOptions[i].title || '').substring(0, 24) });\n}\n\nif (page > 1) rows.unshift({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '◀ Previous' });\nif (page < totalPages) rows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: '▶ More options' });\n\nreturn [{ json: {\n  responseType: 'interactive', message: 'Please select an option:',\n  interactivePayload: { messaging_product: 'whatsapp', to: phoneNumber, type: 'interactive',\n    interactive: { type: 'list', body: { text: 'Please select an option:' },\n      action: { button: 'View options', sections: [{ title: 'Options', rows }] } } }\n} }];"
      },
      "id": "b757fbb3-11b2-4933-ba1a-384bd997f034",
      "name": "Build Pagination List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id}}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "6bef7e1b-bf71-49f2-b99e-7953c4daca79",
      "name": "Send Pagination Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "LUWmF6zx9scLImUL",
          "name": "Responseloop Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dnZEj0RKsfVDPjKa",
          "mode": "id",
          "cachedResultUrl": "/workflow/dnZEj0RKsfVDPjKa"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $json.text }}",
            "phoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
            "display_phone_number": "={{ $('WhatsApp Trigger').item.json.metadata.display_phone_number }}",
            "messageSource": "={{ $json.messageSource }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7189f02e-2226-4a3d-8589-3adc4316115f",
      "name": "Call Business Logic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0b55cf0b-5bae-4fe8-a8a4-95c491218b5c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e5f912b-93ee-4295-86a6-dd36bba0709c",
                    "leftValue": "={{ $json.responseType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "fed0326e-0efc-4891-8860-8c91fa66e3d4",
      "name": "Route Response",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        224,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('WhatsApp Trigger').item.json.metadata.phone_number_id}}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.interactivePayload) }}",
        "options": {}
      },
      "id": "7d5261b7-0a73-477c-b8b2-6e476177c794",
      "name": "Send Interactive Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        208
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "LUWmF6zx9scLImUL",
          "name": "Responseloop Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "3b7f69b7-9ff5-4b5a-8ef4-a9c770a58ab1",
      "name": "Send Text Reply",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        448,
        400
      ],
      "webhookId": "b02ee0d8-9b7b-4dce-9e36-4b7ba131d2c1",
      "credentials": {
        "whatsAppApi": {
          "id": "LUWmF6zx9scLImUL",
          "name": "Responseloop Whatsapp"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $json.metadata.phone_number_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $json.messages[0].id }}\",\n  \"typing_indicator\": { \"type\": \"text\" }\n}",
        "options": {}
      },
      "id": "50bfd9d6-8068-4c23-b053-e020c61d8e1f",
      "name": "Typing Indicator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        272
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "LUWmF6zx9scLImUL",
          "name": "Responseloop Whatsapp"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Has Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Messages": {
      "main": [
        [
          {
            "node": "Typing Indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Router": {
      "main": [
        [
          {
            "node": "Text Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interactive message extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown Type Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Field": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interactive message extract": {
      "main": [
        [
          {
            "node": "Is Pagination?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pagination?": {
      "main": [
        [
          {
            "node": "Check Options Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Business Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Options Cache": {
      "main": [
        [
          {
            "node": "Build Pagination List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pagination List": {
      "main": [
        [
          {
            "node": "Send Pagination Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Business Logic": {
      "main": [
        [
          {
            "node": "Route Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Response": {
      "main": [
        [
          {
            "node": "Send Interactive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing Indicator": {
      "main": [
        [
          {
            "node": "Message Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}