WF2 — Business Logic Router (v11).json
{
  "name": "WF2 — Business Logic Router",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d3683a06-ed5e-44b6-bdd4-811838bdd945",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1568,
        400
      ]
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $json.phoneNumber }) }}"
      },
      "id": "ac6feab2-f65b-4956-83d2-7b76388dbb61",
      "name": "Search User",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1344,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd037f2c-3078-48ea-8f4a-abd178cdbfb3",
              "leftValue": "={{ $json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e758a80f-0c58-4476-a520-c9d3348ba5cf",
      "name": "Is Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iUKdpqbcjFArH18P",
          "mode": "id",
          "cachedResultUrl": "/workflow/iUKdpqbcjFArH18P"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "11624b0c-0dc3-4aba-89b0-7997188d4aa3",
      "name": "Call User Creation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -896,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb96c967-d2f1-420c-bc3a-171c0c22c222",
              "leftValue": "={{ $json.registrationComplete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b8cc94b-21c5-43ec-9d45-b537b305d1cb",
      "name": "Is Registration Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b90a99b-2390-4267-893a-14967a2cc7cb",
              "name": "responseType",
              "value": "={{ $json.responseType }}",
              "type": "string"
            },
            {
              "id": "272edb8e-784b-4d2c-a10d-a586c94541e9",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c231a536-b016-43d6-891e-98490080d94d",
      "name": "Return Registration Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        592
      ]
    },
    {
      "parameters": {
        "collection": "users",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "9bd44c3d-8216-4248-9f7f-2ec634f25449",
      "name": "Search User Again",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -448,
        400
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TTuvTuyMcqi1Gbc5",
          "mode": "id",
          "cachedResultUrl": "/workflow/TTuvTuyMcqi1Gbc5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Call User Creation').first().json.firstMessage || $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User Again').first().json.userId }}",
            "organizationId": "={{ $('Search User Again').first().json.organizationId }}",
            "parentOrganizationId": "={{ $('Search User Again').first().json.parentOrganizationId }}",
            "userName": "={{ $('Search User Again').first().json.name }}",
            "userMongoId": "={{ $('Search User Again').first().json._id }}",
            "sessionId": ""
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parentOrganizationId",
              "displayName": "parentOrganizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userMongoId",
              "displayName": "userMongoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7a6af087-2962-4b5b-b6b0-0e9f13d718a9",
      "name": "Call Intent After Reg",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -224,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Execute Workflow Trigger').first().json.userInput || \"\";\nconst prompt = 'Is this message a GREETING (hi, hello, hey, start, menu, restart, etc)?\\nMessage: \"' + userMessage + '\"\\nRespond JSON only: {\"isGreeting\": true_or_false}';\nreturn [{ json: { prompt } }];"
      },
      "id": "330dbbc1-498e-429d-a314-d48b076f0508",
      "name": "Build Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        208
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Respond with valid JSON only. No markdown. No explanation."
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "c3302b94-6ce9-4c3c-a934-33d09445c831",
      "name": "Greeting Check LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -672,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "BhKHP5ePofPdJtCW",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '{}';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry { return [{ json: JSON.parse(cleaned) }]; } catch(e) { return [{ json: { isGreeting: false } }]; }"
      },
      "id": "60ccd9a2-c683-4636-8ac6-8845891c2f79",
      "name": "Parse Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2367a71-916f-46a5-a51a-0ab7f7c4ede1",
              "leftValue": "={{ $json.isGreeting }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb5c2cb1-3fae-4f1b-94ee-8db100f0def0",
      "name": "Is Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        208
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "320bea13-fac7-452c-b4c5-8280ba682036",
      "name": "Delete Sessions on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "d9b9348a-18b2-44f4-a3ab-56f58cd6966c",
      "name": "Delete Cache on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TTuvTuyMcqi1Gbc5",
          "mode": "id",
          "cachedResultUrl": "/workflow/TTuvTuyMcqi1Gbc5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User').first().json.userId }}",
            "organizationId": "={{ $('Search User').first().json.organizationId }}",
            "parentOrganizationId": "={{ $('Search User').first().json.parentOrganizationId }}",
            "userName": "={{ $('Search User').first().json.name }}",
            "userMongoId": "={{ $('Search User').first().json._id }}",
            "sessionId": ""
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parentOrganizationId",
              "displayName": "parentOrganizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userMongoId",
              "displayName": "userMongoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b72dc416-7cda-4197-a919-adf38ec5125e",
      "name": "Call Intent Fresh",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "0f726ef8-4d49-4f0f-87c2-23e309d4a700",
      "name": "Fetch Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        0,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e0074f4-f1c2-4ac8-887f-e8c02c2053ba",
              "leftValue": "={{ $json.phase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "caa3b3ee-1a42-4007-8d17-806a8458df57",
      "name": "Has Active Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a423b2de-c931-4328-88bd-164efd64a41a",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "repeat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "repeat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c56f5741-f54b-43c0-b3c9-d707761cd222",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "collecting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collecting"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "1e11521d-8957-4945-9e09-8308125f915c",
      "name": "Check Phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FGplPPW7wLW8liJ1",
          "mode": "id",
          "cachedResultUrl": "/workflow/FGplPPW7wLW8liJ1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User').first().json.userId }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "051a7312-65e9-4e37-87b2-ffce8f09ca06",
      "name": "Call Repeat Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TTuvTuyMcqi1Gbc5",
          "mode": "id",
          "cachedResultUrl": "/workflow/TTuvTuyMcqi1Gbc5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User').first().json.userId }}",
            "organizationId": "={{ $('Search User').first().json.organizationId }}",
            "parentOrganizationId": "={{ $('Search User').first().json.parentOrganizationId }}",
            "userName": "={{ $('Search User').first().json.name }}",
            "userMongoId": "={{ $('Search User').first().json._id }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parentOrganizationId",
              "displayName": "parentOrganizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userMongoId",
              "displayName": "userMongoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6896144e-edf0-4219-a1e4-60669a8baa5d",
      "name": "Call Intent With Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TTuvTuyMcqi1Gbc5",
          "mode": "id",
          "cachedResultUrl": "/workflow/TTuvTuyMcqi1Gbc5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User').first().json.userId }}",
            "organizationId": "={{ $('Search User').first().json.organizationId }}",
            "parentOrganizationId": "={{ $('Search User').first().json.parentOrganizationId }}",
            "userName": "={{ $('Search User').first().json.name }}",
            "userMongoId": "={{ $('Search User').first().json._id }}",
            "sessionId": ""
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parentOrganizationId",
              "displayName": "parentOrganizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userMongoId",
              "displayName": "userMongoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b9a9dacd-989d-4f6e-923d-083f503bcf50",
      "name": "Call Intent Normal",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d816462d-e8f2-4e09-9596-9a103d3376b3",
              "leftValue": "={{ $json.responseType }}",
              "rightValue": "__repeat_done__",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        112
      ],
      "id": "fa352b8b-eea6-429c-a62d-583b4e62151d",
      "name": "Is Repeat Done?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TTuvTuyMcqi1Gbc5",
          "mode": "id",
          "cachedResultUrl": "/workflow/TTuvTuyMcqi1Gbc5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User').first().json.userId }}",
            "organizationId": "={{ $('Search User').first().json.organizationId }}",
            "parentOrganizationId": "={{ $('Search User').first().json.parentOrganizationId }}",
            "userName": "={{ $('Search User').first().json.name }}",
            "userMongoId": "={{ $('Search User').first().json._id }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parentOrganizationId",
              "displayName": "parentOrganizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userMongoId",
              "displayName": "userMongoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f4695b95-64e5-459e-b640-0d33e0903453",
      "name": "Call Intent Post Repeat",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Call Repeat Engine').first().json }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        208
      ],
      "id": "1ec8ade4-897c-4194-8d5c-d963979a718e",
      "name": "Return Repeat Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Search User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search User": {
      "main": [
        [
          {
            "node": "Is Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Registered?": {
      "main": [
        [
          {
            "node": "Build Greeting Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call User Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call User Creation": {
      "main": [
        [
          {
            "node": "Is Registration Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Registration Complete?": {
      "main": [
        [
          {
            "node": "Search User Again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Registration Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search User Again": {
      "main": [
        [
          {
            "node": "Call Intent After Reg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Greeting Check": {
      "main": [
        [
          {
            "node": "Greeting Check LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Check LLM": {
      "main": [
        [
          {
            "node": "Parse Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Greeting Check": {
      "main": [
        [
          {
            "node": "Is Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Greeting?": {
      "main": [
        [
          {
            "node": "Delete Sessions on Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sessions on Greeting": {
      "main": [
        [
          {
            "node": "Delete Cache on Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cache on Greeting": {
      "main": [
        [
          {
            "node": "Call Intent Fresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session": {
      "main": [
        [
          {
            "node": "Has Active Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Session?": {
      "main": [
        [
          {
            "node": "Check Phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phase": {
      "main": [
        [
          {
            "node": "Call Repeat Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent With Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Repeat Engine": {
      "main": [
        [
          {
            "node": "Is Repeat Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Repeat Done?": {
      "main": [
        [
          {
            "node": "Call Intent Post Repeat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Repeat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9bc1654-85a6-4e34-aece-3f9d29044c82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04a9c58622056ef55515df3e1f34eb7e9fbe2a87feeda0dcc951b2fb4871723b"
  },
  "nodeGroups": [],
  "id": "dnZEj0RKsfVDPjKa",
  "tags": []
}