WF2 — Business Logic Router.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "590b1a12-73b9-4615-8f2b-f41ed20c5683",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1616,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Execute Workflow Trigger').first().json.userInput || \"\";\nconst prompt = 'Is this message a GREETING (hi, hello, hey, start, menu, restart, etc)?\\nMessage: \"' + userMessage + '\"\\nRespond JSON only: {\"isGreeting\": true_or_false}';\nreturn [{ json: { prompt } }];"
      },
      "id": "4904cacf-4332-4604-b953-a10b3941e75a",
      "name": "Build Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        128
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Respond with valid JSON only. No markdown. No explanation."
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "59cc76a7-6be6-4a24-95e9-e17bff13169a",
      "name": "Greeting Check LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -720,
        128
      ],
      "credentials": {
        "openAiApi": {
          "id": "uXr0nmkLxemPDRRi",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '{}';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry { return [{ json: JSON.parse(cleaned) }]; } catch(e) { return [{ json: { isGreeting: false } }]; }"
      },
      "id": "68d84038-a921-43a4-93f7-37b9baeb077c",
      "name": "Parse Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2367a71-916f-46a5-a51a-0ab7f7c4ede1",
              "leftValue": "={{ $json.isGreeting }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf904742-d83b-4590-9fef-82a987e6133e",
      "name": "Is Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        128
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "f5b6e34b-eca1-40cf-9329-0ba4b2664c90",
      "name": "Delete Sessions on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -48,
        -80
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "40f6332a-4417-44b3-811d-5cdd6dc24b38",
      "name": "Delete Cache on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        176,
        -80
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d959d782-3738-41c7-a667-edb30ab18b76",
      "name": "Call Intent Fresh",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        -80
      ]
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "e89cc07a-892a-40d3-bfa3-14732afb9cca",
      "name": "Fetch Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -48,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e0074f4-f1c2-4ac8-887f-e8c02c2053ba",
              "leftValue": "={{ $json.phase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7792d81c-4203-4ff0-94d6-5023072f9c77",
      "name": "Has Active Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a423b2de-c931-4328-88bd-164efd64a41a",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "repeat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "repeat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c56f5741-f54b-43c0-b3c9-d707761cd222",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "collecting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collecting"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4de81e2b-b7fc-4b24-a406-d4e08427e7d7",
      "name": "Check Phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cWs9m9UCqdrlsXjP",
          "mode": "id",
          "cachedResultUrl": "/workflow/cWs9m9UCqdrlsXjP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Search User').first().json.userId }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4920c32b-590d-46d4-8a5c-f1849a8e21ba",
      "name": "Call Repeat Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        624,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b174691d-2391-4b62-8cfc-ef2268f1662f",
      "name": "Call Intent With Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        624,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "85c3a450-b0df-48df-89f0-f35414428b1e",
      "name": "Call Intent Normal",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d816462d-e8f2-4e09-9596-9a103d3376b3",
              "leftValue": "={{ $json.responseType }}",
              "rightValue": "__repeat_done__",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        32
      ],
      "id": "a818367f-5b88-4e2d-8057-0014f442534d",
      "name": "Is Repeat Done?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4290005c-e4c1-442b-9ba5-ad9c876760da",
      "name": "Call Intent Post Repeat",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Call Repeat Engine').first().json }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        128
      ],
      "id": "52d8511a-d222-4f90-bcb7-999724af20fc",
      "name": "Return Repeat Response"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Greeting Check": {
      "main": [
        [
          {
            "node": "Greeting Check LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Check LLM": {
      "main": [
        [
          {
            "node": "Parse Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Greeting Check": {
      "main": [
        [
          {
            "node": "Is Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Greeting?": {
      "main": [
        [
          {
            "node": "Delete Sessions on Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sessions on Greeting": {
      "main": [
        [
          {
            "node": "Delete Cache on Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cache on Greeting": {
      "main": [
        [
          {
            "node": "Call Intent Fresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session": {
      "main": [
        [
          {
            "node": "Has Active Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Session?": {
      "main": [
        [
          {
            "node": "Check Phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phase": {
      "main": [
        [
          {
            "node": "Call Repeat Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent With Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Repeat Engine": {
      "main": [
        [
          {
            "node": "Is Repeat Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Repeat Done?": {
      "main": [
        [
          {
            "node": "Call Intent Post Repeat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Repeat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}