WF2 — Business Logic Router.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3a6bd05b-1036-4225-b7f7-5701c8571d40",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2416,
        -944
      ]
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Execute Workflow Trigger').first().json.userInput || \"\";\nconst prompt = 'Is this message a GREETING (hi, hello, hey, start, menu, restart, etc)?\\nMessage: \"' + userMessage + '\"\\nRespond JSON only: {\"isGreeting\": true_or_false}';\nreturn [{ json: { prompt } }];"
      },
      "id": "1624eb70-0f99-4739-96be-378e82572106",
      "name": "Build Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        -944
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Respond with valid JSON only. No markdown. No explanation."
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "d568c133-933d-458d-aace-45b4fb4343e2",
      "name": "Greeting Check LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -1920,
        -944
      ],
      "credentials": {
        "openAiApi": {
          "id": "uXr0nmkLxemPDRRi",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '{}';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry { return [{ json: JSON.parse(cleaned) }]; } catch(e) { return [{ json: { isGreeting: false } }]; }"
      },
      "id": "842f3dc7-7a66-4144-b570-adc01e7ec7f4",
      "name": "Parse Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2367a71-916f-46a5-a51a-0ab7f7c4ede1",
              "leftValue": "={{ $json.isGreeting }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "no-active-session-guard",
              "leftValue": "={{ $('Fetch Intent Session (Early)').first().json.phase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f09e7e4a-423c-429a-a98c-335cce0d42cf",
      "name": "Is Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        -944
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "7ae866fd-d7ee-40c8-a24c-1ecef79afa8e",
      "name": "Delete Sessions on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -1136
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "8e5ca457-157f-44ac-9a6b-dbcab1c06fde",
      "name": "Delete Cache on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -832,
        -1136
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "06670a2e-03e9-4b19-aab4-0f31aee476f1",
      "name": "Call Intent Fresh",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -608,
        -1136
      ]
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "6512dfa8-e743-4b05-aea9-4062c15ce392",
      "name": "Fetch Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -816
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e0074f4-f1c2-4ac8-887f-e8c02c2053ba",
              "leftValue": "={{ $json.phase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bebda99e-1fef-4e32-96c0-1fd4ef0e7152",
      "name": "Has Active Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        -816
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a423b2de-c931-4328-88bd-164efd64a41a",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "repeat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "repeat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c56f5741-f54b-43c0-b3c9-d707761cd222",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "collecting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collecting"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "41483060-a9cd-493a-8534-a2219c228c51",
      "name": "Check Phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -608,
        -944
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cWs9m9UCqdrlsXjP",
          "mode": "id",
          "cachedResultUrl": "/workflow/cWs9m9UCqdrlsXjP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "c31d4b6d-d102-41c6-9dbc-c96e3f01e6e2",
      "name": "Call Repeat Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -384,
        -1024
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id.toString() }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0276025e-ae39-4b9a-aea7-f422714614e9",
      "name": "Call Intent With Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -384,
        -832
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c12ec2c9-d0b0-4b0e-9d45-ef2cb39af130",
      "name": "Call Intent Normal",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -608,
        -720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d816462d-e8f2-4e09-9596-9a103d3376b3",
              "leftValue": "={{ $json.responseType === '__repeat_done__' || $json.responseType === 'repeat_complete' || $json.repeatComplete === true ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        -1024
      ],
      "id": "4daabfb0-5b7c-4f14-85c6-ac4c03ebef25",
      "name": "Is Repeat Done?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id.toString() }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bc067664-1737-4323-8b00-392c1a546829",
      "name": "Call Intent Post Repeat",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        64,
        -1120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Call Repeat Engine').first().json }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -928
      ],
      "id": "aea26b54-c3f9-4037-bf64-18183ca11e2e",
      "name": "Return Repeat Response"
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "4923e262-4290-4751-99d0-c6e27a37f4d9",
      "name": "Fetch Intent Session (Early)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1504,
        -944
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "chat-bot-prod"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Greeting Check": {
      "main": [
        [
          {
            "node": "Greeting Check LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Check LLM": {
      "main": [
        [
          {
            "node": "Parse Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Greeting Check": {
      "main": [
        [
          {
            "node": "Fetch Intent Session (Early)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Greeting?": {
      "main": [
        [
          {
            "node": "Delete Sessions on Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sessions on Greeting": {
      "main": [
        [
          {
            "node": "Delete Cache on Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cache on Greeting": {
      "main": [
        [
          {
            "node": "Call Intent Fresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session": {
      "main": [
        [
          {
            "node": "Has Active Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Session?": {
      "main": [
        [
          {
            "node": "Check Phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phase": {
      "main": [
        [
          {
            "node": "Call Repeat Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent With Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Repeat Engine": {
      "main": [
        [
          {
            "node": "Is Repeat Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Repeat Done?": {
      "main": [
        [
          {
            "node": "Call Intent Post Repeat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Repeat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session (Early)": {
      "main": [
        [
          {
            "node": "Is Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "text": "Monica",
        "isPagination": false,
        "messageSource": "text",
        "userInput": "Monica",
        "phoneNumber": "919645584806",
        "display_phone_number": "918590886343",
        "userName": "Rohith Sreekumar😇"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}