WF2 — Business Logic Router.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "49d6bc0f-fa02-4ad0-bd11-1d201825b8b2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Execute Workflow Trigger').first().json.userInput || \"\";\nconst prompt = 'Is this message a GREETING (hi, hello, hey, start, menu, restart, etc)?\\nMessage: \"' + userMessage + '\"\\nRespond JSON only: {\"isGreeting\": true_or_false}';\nreturn [{ json: { prompt } }];"
      },
      "id": "60894108-7d2a-4956-a9e0-8dce17e0be14",
      "name": "Build Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Respond with valid JSON only. No markdown. No explanation."
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "967deada-eec1-4749-b788-1ccb7757f217",
      "name": "Greeting Check LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -1408,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "uXr0nmkLxemPDRRi",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '{}';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry { return [{ json: JSON.parse(cleaned) }]; } catch(e) { return [{ json: { isGreeting: false } }]; }"
      },
      "id": "59516ab9-11ec-4a1b-81b8-9e24e801041a",
      "name": "Parse Greeting Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2367a71-916f-46a5-a51a-0ab7f7c4ede1",
              "leftValue": "={{ $json.isGreeting }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "no-active-session-guard",
              "leftValue": "={{ $('Fetch Intent Session (Early)').first().json.phase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bae3050c-34ac-4d81-b630-fb4ac793df0d",
      "name": "Is Greeting?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -960,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "9a7db40d-7c34-4129-8662-a8e32c76469c",
      "name": "Delete Sessions on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -736,
        -288
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "639716a8-f236-41a3-8af8-7a44e6dbb072",
      "name": "Delete Cache on Greeting",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -512,
        -288
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7fa214a6-c956-4815-b1d8-4419038161bf",
      "name": "Call Intent Fresh",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -288,
        -288
      ]
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "fe3797f6-9c81-45c2-904c-20a8a1f1e81e",
      "name": "Fetch Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -736,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e0074f4-f1c2-4ac8-887f-e8c02c2053ba",
              "leftValue": "={{ $json.phase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c8fa9a7-559e-4de8-8318-2d3cdc6ade26",
      "name": "Has Active Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a423b2de-c931-4328-88bd-164efd64a41a",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "repeat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "repeat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c56f5741-f54b-43c0-b3c9-d707761cd222",
                    "leftValue": "={{ $('Fetch Intent Session').first().json.phase }}",
                    "rightValue": "collecting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collecting"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "87a0aee5-94be-4006-a7ce-4a8e064a8c23",
      "name": "Check Phase",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -288,
        -96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cWs9m9UCqdrlsXjP",
          "mode": "id",
          "cachedResultUrl": "/workflow/cWs9m9UCqdrlsXjP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id.toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "28e6110d-b9d8-4477-b544-629b5b16a5f7",
      "name": "Call Repeat Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        -176
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id.toString() }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7db546b8-cff1-4f22-8d6e-30e9cd370e03",
      "name": "Call Intent With Session",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -64,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9600285b-8a5e-49cf-b652-9e885d80a468",
      "name": "Call Intent Normal",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -288,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d816462d-e8f2-4e09-9596-9a103d3376b3",
              "leftValue": "={{ $json.responseType === '__repeat_done__' || $json.responseType === 'repeat_complete' || $json.repeatComplete === true ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -176
      ],
      "id": "a0f07eaa-26c0-4d7e-a224-4ed14ecd1bd1",
      "name": "Is Repeat Done?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rj0pUxHDOhwuC5tX",
          "mode": "id",
          "cachedResultUrl": "/workflow/Rj0pUxHDOhwuC5tX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userInput": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "userName": "={{ $('Execute Workflow Trigger').first().json.userName }}",
            "sessionId": "={{ $('Fetch Intent Session').first().json._id.toString() }}",
            "display_phone_number": "={{ $('Execute Workflow Trigger').first().json.display_phone_number }}",
            "mediaType": "={{ $('Execute Workflow Trigger').first().json.mediaType }}"
          },
          "schema": [
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_phone_number",
              "displayName": "display_phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "aa7f85d8-97f3-4735-a37d-080d4aa870ce",
      "name": "Call Intent Post Repeat",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        384,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Call Repeat Engine').first().json }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -80
      ],
      "id": "93d8431f-7b33-47da-aa60-215ecba8cef3",
      "name": "Return Repeat Response"
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "01a2b3c4-7777-4211-c3cc-early0fetch1",
      "name": "Fetch Intent Session (Early)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1200,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Greeting Check": {
      "main": [
        [
          {
            "node": "Greeting Check LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Check LLM": {
      "main": [
        [
          {
            "node": "Parse Greeting Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Greeting Check": {
      "main": [
        [
          {
            "node": "Fetch Intent Session (Early)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Greeting?": {
      "main": [
        [
          {
            "node": "Delete Sessions on Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Sessions on Greeting": {
      "main": [
        [
          {
            "node": "Delete Cache on Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cache on Greeting": {
      "main": [
        [
          {
            "node": "Call Intent Fresh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session": {
      "main": [
        [
          {
            "node": "Has Active Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Session?": {
      "main": [
        [
          {
            "node": "Check Phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phase": {
      "main": [
        [
          {
            "node": "Call Repeat Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Intent With Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Repeat Engine": {
      "main": [
        [
          {
            "node": "Is Repeat Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Repeat Done?": {
      "main": [
        [
          {
            "node": "Call Intent Post Repeat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Repeat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session (Early)": {
      "main": [
        [
          {
            "node": "Is Greeting?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "text": "Monica",
        "isPagination": false,
        "messageSource": "text",
        "userInput": "Monica",
        "phoneNumber": "919645584806",
        "display_phone_number": "918590886343",
        "userName": "Rohith Sreekumar😇"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}