WF3 (User Creation).json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a83ffb2f-c3b9-4004-a223-e0a0b57cfb0e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2656,
        208
      ]
    },
    {
      "parameters": {
        "collection": "organizations",
        "options": {},
        "query": "={{ JSON.stringify({ businessPhoneNumber: $json.display_phone_number }) }}"
      },
      "id": "2cb98b53-2488-4d70-b1bd-88e3834ae1ac",
      "name": "Find Org by Phone",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -2432,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "59cc77ce-6254-4a22-8a5a-d756a162490d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "846280b2-a31b-4f43-a8fd-1ebdca319fff",
      "name": "Org Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52f692f4-0541-48c9-81a2-cecd8ab2b89f",
              "name": "responseType",
              "value": "text",
              "type": "string"
            },
            {
              "id": "40d2ed02-8b44-485e-bc3b-77bfd96b2506",
              "name": "message",
              "value": "Sorry, this number is not associated with any registered organisation. Please contact support.",
              "type": "string"
            },
            {
              "id": "0ea0d384-9fde-4913-a6c3-15d41a695615",
              "name": "registrationComplete",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "e810e324-2ccf-45aa-aa25-9cdf2f69a8a4",
      "name": "Return No Org",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9db51b33-66a1-4915-a0e5-1836f5969e72",
              "leftValue": "={{ $json.allowExternalUser }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0cf19644-3ecc-47c4-a9be-abaab1a05684",
      "name": "Allow External User?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1984,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4654023-a769-4aaf-8338-6b226a699d97",
              "name": "responseType",
              "value": "text",
              "type": "string"
            },
            {
              "id": "564e5b7e-bbe1-4b31-bcbd-45673325dd52",
              "name": "message",
              "value": "Sorry, this organisation does not support external user registration. Please contact your administrator.",
              "type": "string"
            },
            {
              "id": "6b95ff76-8090-4478-be7b-9897496d9c33",
              "name": "registrationComplete",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "4584a562-56af-4a5f-8aae-dfac08f32cbf",
      "name": "Return No External",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5f87cbe-7df8-4f0d-8fda-f078dc09277d",
              "leftValue": "={{ $json.userIntent }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33751ca7-4876-4497-b06f-c9934b241975",
      "name": "Has User Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1760,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1288264-3a00-4f81-a267-4f2fae21ed16",
              "name": "responseType",
              "value": "text",
              "type": "string"
            },
            {
              "id": "2076233c-ebf0-445e-bd03-9f9796e08d80",
              "name": "message",
              "value": "Registration is not currently configured for this organisation. Please contact your administrator.",
              "type": "string"
            },
            {
              "id": "8990ff7a-3c6b-4c81-9021-66c9ca8514ba",
              "name": "registrationComplete",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "e8428739-deaf-4d12-a583-f21b4515fbf7",
      "name": "Return No Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        112
      ]
    },
    {
      "parameters": {
        "collection": "registration_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "05cd339c-bf05-4aec-a2b3-66d1c7c6d336",
      "name": "Fetch Registration Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1536,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orgDoc = $('Find Org by Phone').first().json;\nconst orgName = orgDoc.name || 'Organization';\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst userInput = triggerData.userInput;\nconst phoneNumber = triggerData.phoneNumber;\nconst userIntent = orgDoc.userIntent;\n\n// Get previously collected fields from session\nconst session = $('Fetch Registration Session').first().json;\nlet previousFields = {};\nif (session && session.collectedFields) {\n  try {\n    previousFields = typeof session.collectedFields === 'string'\n      ? JSON.parse(session.collectedFields)\n      : session.collectedFields;\n  } catch(e) {\n    previousFields = {};\n  }\n}\n\nfunction buildParameterGuide(parameters) {\n  if (!parameters || parameters.length === 0) return \"  No parameters.\";\n  return parameters.map(p => {\n    let line = `  - PARAMETER_NAME_COPY_EXACTLY=\"${p.name}\" | Type: ${p.type} | resolvedBy: ${p.resolvedBy}`;\n    if (p.description) line += ` | Description: ${p.description}`;\n    if (p.options) line += ` | Valid options: ${p.options.join(\", \")}`;\n    return line;\n  }).join(\"\\n\");\n}\n\nconst paramGuide = buildParameterGuide(userIntent.parameters);\nconst previousFieldsJson = JSON.stringify(previousFields);\n\nconst prompt = `\nORGANISATION: ${orgName}\nUSER PHONE NUMBER: ${phoneNumber}\nUSER MESSAGE: ${userInput}\n\nPREVIOUSLY COLLECTED FIELDS:\n${previousFieldsJson}\n\nUSER INTENT PARAMETERS:\n${paramGuide}\n`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "34129bb0-a8b4-4379-9f9e-ce4e9900e914",
      "name": "Build User Intent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a friendly WhatsApp onboarding assistant.\n\nYOUR TASK:\nCollect user information for registration based on the USER INTENT PARAMETERS provided in each message.\n\n---\n\nSTEP 1 - RECOVER STATE (CRITICAL):\nRead the PREVIOUSLY COLLECTED FIELDS from the input.\nEvery field already present there is CONFIRMED — carry it forward unchanged into collectedData.fields.\nNever re-ask for or drop a confirmed field.\n\n---\n\nSTEP 2 - PROCESS PARAMETERS:\n\nFIELD NAMING — NON-NEGOTIABLE:\nThe key in collectedData.fields MUST be copied character-for-character from the name property of that parameter. It is case-sensitive.\n\nFor each parameter, read its resolvedBy property:\n\nresolvedBy = \"user\"\n  Must come from the user message or PREVIOUSLY COLLECTED FIELDS.\n  If not found in either -> missing. Ask naturally in STEP 4.\n  FOLLOW-UP OVERRIDE: If already asked once and user replied with anything relevant -> accept immediately.\n\nresolvedBy = \"auto\"\n  Generate the value yourself. Always produce a value. Never missing.\n\nresolvedBy = \"infer\"\n  Use the description and available context (like USER PHONE NUMBER) to determine the value silently.\n  Always produce a value. Never ask the user.\n\nOnly resolvedBy = \"user\" parameters can ever be missing.\n\n---\n\nSTEP 3 - SMART EXTRACTION:\nScan the user message for ALL relevant information at once.\nIf the message contains multiple pieces of data (e.g. \"my name is Akshay and email is abc@gmail.com\"), extract ALL matching parameters in one go.\nDo not ask for a field that is already present in the user message.\n\n---\n\nSTEP 4 - DECIDE:\n\nIf PREVIOUSLY COLLECTED FIELDS is empty or {} (first interaction):\n  Greet warmly using the ORGANISATION name.\n  Ask naturally for all missing resolvedBy=\"user\" fields.\n  Do NOT use technical parameter names — ask like a human support agent.\n\nIf user message does not contain any relevant registration data AND there are still missing fields:\n  Respond politely: \"Sorry, I didn't quite get that. Could you please provide [missing info] to continue the registration?\"\n\nIf all resolvedBy = \"user\" parameters are collected (from previous + current):\n  allCollected = true\n  Confirm briefly (e.g. \"Thanks, got it!\").\n\nIf any resolvedBy = \"user\" parameter is still missing:\n  allCollected = false\n  Acknowledge what you received and ask for the remaining fields naturally.\n\n---\n\nCRITICAL: collectedData.fields must ALWAYS contain ALL parameters — the previously collected ones, the newly collected ones, AND the auto/infer resolved ones. Never return a partial set.\n\nReturn valid JSON only. No markdown. No code fences.\n\n{\n  \"allCollected\": true_or_false,\n  \"collectedData\": {\n    \"fields\": {}\n  },\n  \"message\": \"message to send to user\"\n}"
        }
      },
      "id": "4c82d5b0-d221-4550-8024-5f41691f3113",
      "name": "Registration Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1088,
        -80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "3d1780bf-6674-46b9-a06f-72381bf4a261",
      "name": "OpenAI Chat Model (Reg)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1088,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "BhKHP5ePofPdJtCW",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=reg_{{ $('Execute Workflow Trigger').first().json.phoneNumber }}"
      },
      "id": "1b6c692e-c3d2-4746-be45-160f58a4824e",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -992,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output || '';\nconst cleaned = rawOutput.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Failed to parse Registration Agent response: ' + err.message + ' | Raw: ' + rawOutput);\n}\nreturn [{ json: parsed }];"
      },
      "id": "d1644478-1c10-47d6-a43d-7626953e9cf1",
      "name": "Parse Registration Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9cb7d33-6b7c-45af-8c6c-5e3c6dd8c93e",
              "leftValue": "={{ $json.allCollected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "18242ecd-e775-46ad-b958-02e5f11c4ba0",
      "name": "All Fields Collected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "registration_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "6de8488a-a61b-4eb0-84ae-60a3affb9458",
      "name": "Delete Old Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -288,
        16
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $('Fetch Registration Session').first().json;\nconst regResponse = $('Parse Registration Response').first().json;\nconst triggerData = $('Execute Workflow Trigger').first().json;\n\nreturn [{\n  json: {\n    phoneNumber: triggerData.phoneNumber,\n    firstMessage: session?.firstMessage || triggerData.userInput,\n    collectedFields: JSON.stringify(regResponse.collectedData?.fields || {})\n  }\n}];"
      },
      "id": "0f6ae367-b849-4d39-89ba-79211afabc83",
      "name": "Prepare Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        16
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "registration_sessions",
        "fields": "phoneNumber,firstMessage,collectedFields",
        "options": {}
      },
      "id": "fa874944-dc4f-4a0e-b731-8ff8d333cc2b",
      "name": "Save Registration Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        160,
        16
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5X0X0prlQ1i7cLAs",
          "mode": "id",
          "cachedResultUrl": "/workflow/5X0X0prlQ1i7cLAs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $execution.id }}",
            "userId": "",
            "organizationId": "={{ $('Find Org by Phone').first().json._id }}",
            "source": "registration_agent",
            "model": "gpt-4.1-mini",
            "inputMessage": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "parsedMessage": "={{ $('Parse Registration Response').first().json.message }}",
            "intent": "user_intent",
            "action": "ask_user"
          },
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inputMessage",
              "displayName": "inputMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parsedMessage",
              "displayName": "parsedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "4237d003-13e3-4695-bbb0-46b092616649",
      "name": "Log Registration Token (Ask)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        384,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const regResponse = $('Parse Registration Response').first().json;\nreturn [{ json: {\n  responseType: \"text\",\n  message: regResponse.message,\n  registrationComplete: false\n}}];"
      },
      "id": "179b0bf7-4d8f-4256-a6f9-072809810093",
      "name": "Return Ask More",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const regResponse = $('Parse Registration Response').first().json;\nconst orgDoc = $('Find Org by Phone').first().json;\nconst userIntent = orgDoc.userIntent;\n\nconst payload = {\n  intent: userIntent.name,\n  params: {\n    fields: regResponse.collectedData?.fields || {},\n    additionalInfo: {\n      ...(userIntent.additionalInfo || {}),\n      organizationId: orgDoc.parentOrganizationId\n    }\n  }\n};\n\nreturn [{ json: payload }];"
      },
      "id": "762cb831-5601-4a7c-877d-fd858af24284",
      "name": "Prepare Save User Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://8bef-103-214-235-123.ngrok-free.app/ai-chat/save-user",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "13b12555-80a8-4470-9f35-42ff072ae2e3",
      "name": "Call Save User API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sdec288NlfXYh6zO",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\nconst orgDoc = $('Find Org by Phone').first().json;\nconst regResponse = $('Parse Registration Response').first().json;\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst fields = regResponse.collectedData?.fields || {};\nconst userIntent = orgDoc.userIntent;\nconst params = userIntent.parameters || [];\n\nfunction getFieldValue(internalName) {\n  const mapped = params.find(p => p.mapTo === internalName);\n  if (mapped && fields[mapped.name] !== undefined) {\n    return fields[mapped.name];\n  }\n  if (fields[internalName] !== undefined) {\n    return fields[internalName];\n  }\n  return '';\n}\n\nconst userId = apiResponse.userId || apiResponse._id || null;\nif (!userId) {\n  throw new Error('Save User API did not return a userId. Response: ' + JSON.stringify(apiResponse));\n}\n\nreturn [{\n  json: {\n    name: getFieldValue('name'),\n    phoneNumber: getFieldValue('phoneNumber') || triggerData.phoneNumber,\n    email: getFieldValue('email'),\n    userId: userId,\n    organizationId: orgDoc._id,\n    parentOrganizationId: orgDoc.parentOrganizationId\n  }\n}];"
      },
      "id": "2dbc795b-a80e-46c6-bc1e-b3720c225719",
      "name": "Build User Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "users",
        "fields": "name,phoneNumber,email,userId,organizationId,parentOrganizationId",
        "options": {}
      },
      "id": "cce387df-34e3-4e4c-aff8-4691ef06aeb7",
      "name": "Save New User",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        384,
        -176
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $('Fetch Registration Session').first().json;\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst firstMessage = session?.firstMessage || triggerData.userInput || 'hi';\nreturn [{ json: { firstMessage } }];"
      },
      "id": "079976b5-57a9-4907-aedd-fa55469e4526",
      "name": "Extract First Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "registration_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "adf531d8-7fe9-4827-bf92-cacbb5bc3999",
      "name": "Delete Registration Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        832,
        -176
      ],
      "credentials": {
        "mongoDb": {
          "id": "Y72yvbsgwvQf7SQu",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5X0X0prlQ1i7cLAs",
          "mode": "id",
          "cachedResultUrl": "/workflow/5X0X0prlQ1i7cLAs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $execution.id }}",
            "userId": "",
            "organizationId": "={{ $('Find Org by Phone').first().json._id }}",
            "source": "registration_agent",
            "model": "gpt-4.1-mini",
            "inputMessage": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "parsedMessage": "={{ $('Parse Registration Response').first().json.message }}",
            "intent": "user_intent",
            "action": "registration_complete"
          },
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inputMessage",
              "displayName": "inputMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parsedMessage",
              "displayName": "parsedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "7cdd1d82-d91e-415e-8993-5b3d91bcc53d",
      "name": "Log Registration Token (Complete)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1056,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "const firstMessage = $('Extract First Message').first().json.firstMessage;\nreturn [{ json: {\n  responseType: \"text\",\n  message: \"\",\n  registrationComplete: true,\n  firstMessage: firstMessage\n}}];"
      },
      "id": "f3877287-2a81-4a9a-9511-62ee63cb69f3",
      "name": "Return Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -176
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Find Org by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Org by Phone": {
      "main": [
        [
          {
            "node": "Org Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Org Exists?": {
      "main": [
        [
          {
            "node": "Allow External User?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow External User?": {
      "main": [
        [
          {
            "node": "Has User Intent?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has User Intent?": {
      "main": [
        [
          {
            "node": "Fetch Registration Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Registration Session": {
      "main": [
        [
          {
            "node": "Build User Intent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Intent Prompt": {
      "main": [
        [
          {
            "node": "Registration Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration Agent": {
      "main": [
        [
          {
            "node": "Parse Registration Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Reg)": {
      "ai_languageModel": [
        [
          {
            "node": "Registration Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Registration Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Registration Response": {
      "main": [
        [
          {
            "node": "All Fields Collected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Fields Collected?": {
      "main": [
        [
          {
            "node": "Prepare Save User Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Old Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Session": {
      "main": [
        [
          {
            "node": "Prepare Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Data": {
      "main": [
        [
          {
            "node": "Save Registration Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Registration Session": {
      "main": [
        [
          {
            "node": "Log Registration Token (Ask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Registration Token (Ask)": {
      "main": [
        [
          {
            "node": "Return Ask More",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Save User Payload": {
      "main": [
        [
          {
            "node": "Call Save User API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Save User API": {
      "main": [
        [
          {
            "node": "Build User Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Record": {
      "main": [
        [
          {
            "node": "Save New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save New User": {
      "main": [
        [
          {
            "node": "Extract First Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract First Message": {
      "main": [
        [
          {
            "node": "Delete Registration Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Registration Session": {
      "main": [
        [
          {
            "node": "Log Registration Token (Complete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Registration Token (Complete)": {
      "main": [
        [
          {
            "node": "Return Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04a9c58622056ef55515df3e1f34eb7e9fbe2a87feeda0dcc951b2fb4871723b"
  }
}