WF4 — Intent Handling.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "81463e86-557f-4ae6-a8d9-66ec1724fb46",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        21968,
        -1152
      ]
    },
    {
      "parameters": {
        "collection": "organization_intents",
        "options": {},
        "query": "={{ JSON.stringify({ businessPhoneNumber: '+'+$('Execute Workflow Trigger').first().json.display_phone_number }) }}"
      },
      "id": "97e97940-2396-490e-809b-a5aba9c452af",
      "name": "Find Organization and intents",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        22192,
        -1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a2a014b-53f4-48b6-8f75-67f27ab1041d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6ab68684-5d86-473e-b965-10d46131acde",
              "leftValue": "={{ $json.intents }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            },
            {
              "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
              "leftValue": "={{ $json.isAuthorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5fe3ba5-43db-4d40-b30b-cf07f77c6d11",
      "name": "Check Org and Intents",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        23920,
        -1168
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b45a246-5e70-42ed-ab6d-52e7dd5e9615",
              "name": "responseType",
              "value": "text",
              "type": "string"
            },
            {
              "id": "290510b7-4ee9-4a73-b26d-7f87cadda869",
              "name": "message",
              "value": "={{ $('Resolve Org Intents').first()?.json?.unauthorizedMessage || 'You do not have the required permissions.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e133bc1-0737-4996-b7f8-a5c68c8f4d9c",
      "name": "Return No Permissions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24144,
        -976
      ]
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "c627f6df-09c2-4108-83e7-5a693b61a049",
      "name": "Fetch Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        24144,
        -1184
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "session-check-id",
              "leftValue": "={{ $json.intentName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "session-check-not-button",
              "leftValue": "={{ $('Execute Workflow Trigger').first().json.messageSource }}",
              "rightValue": "button",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b1948f6-642a-470a-8e05-07cb8f166013",
      "name": "Has Active Session",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        24384,
        -1184
      ]
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $('Execute Workflow Trigger').first().json.userInput || \"\";\nconst userName = $('Execute Workflow Trigger').first().json.userName || \"there\";\nconst orgName = $('Resolve Org Intents').first()?.json?.name || \"us\";\nconst intents = $('Resolve Org Intents').first()?.json?.intents || [];\nconst doable = intents.filter((i) => i.action === \"get\" || i.action === \"create\").slice(0, 3);\nconst intentLines = doable.map((i) => `- id: \"${i.name}\" | description: \"${i.description}\"`).join(\"\\n\");\nconst prompt = `You are a message classifier.\\nDetermine if the message is a GREETING (hi/hello/hey/etc).\\nIf greeting: isWelcome=true, write welcome with user name \"${userName}\" and org \"${orgName}\", generate button titles (max 20 chars) per intent.\\nIf not: isWelcome=false, empty welcomeMessage and buttons.\\n\\nINTENTS:\\n${intentLines}\\n\\nUSER MESSAGE: \"${userMessage}\"\\n\\nJSON only:\\n{\"isWelcome\": bool, \"welcomeMessage\": \"string\", \"buttons\": [{\"id\": \"intent_name\", \"title\": \"max 20\"}]}`;\nreturn [{ json: { prompt } }];"
      },
      "id": "ba2f6f77-364f-4aa7-a237-31ae73248294",
      "name": "Build Welcome Check Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24656,
        -1168
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Respond with valid JSON only. No markdown."
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "be70703d-aeac-4873-8710-ee7f2c2a94e6",
      "name": "Welcome Check LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        24864,
        -1168
      ],
      "credentials": {
        "openAiApi": {
          "id": "uXr0nmkLxemPDRRi",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json?.choices?.[0]?.message?.content || '';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry { return [{ json: JSON.parse(cleaned) }]; } catch (e) { throw new Error('Parse fail: ' + e.message); }"
      },
      "id": "872187d6-9751-4e21-9b24-08f0ba0e6a3a",
      "name": "Parse Welcome Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25120,
        -1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c85a6c23-9e50-4919-80e7-28dedae90826",
              "leftValue": "={{ $json.isWelcome }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cd2ccab-07af-4137-a93e-6a924367b402",
      "name": "Is Welcome",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        25328,
        -1168
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "76c0dec5-c40c-4cc5-91c3-1d3d3a34733f",
      "name": "Cleanup Cache on Welcome",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        25552,
        -1184
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "b991a33c-ead5-482a-a2ae-ad5b7d2245c2",
      "name": "Cleanup Sessions on Welcome",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        25760,
        -1184
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Welcome Response').first()?.json || {};\nconst triggerData = $('Execute Workflow Trigger').first()?.json || {};\nconst phoneNumber = triggerData.phoneNumber;\nconst userName = triggerData.userName || \"there\";\n\nconst orgData = $('Resolve Org Intents').first()?.json || {};\nconst orgName = orgData.name || \"us\";\n\n// Resolve @name from the configured auth form's Name Field, looked up by phone\n// number \u2014 replaced with nothing if not configured or no match is found.\nconst authRecord = $('Fetch Auth Name Record').first()?.json || {};\nlet resolvedName = '';\nif (orgData.authNameField && authRecord[orgData.authNameField] !== undefined) {\n  const raw = authRecord[orgData.authNameField];\n  if (raw && typeof raw === 'object') {\n    resolvedName = Array.isArray(raw)\n      ? (raw[0]?.value || '')\n      : (raw.display || raw.value || '');\n  } else {\n    resolvedName = raw != null ? String(raw) : '';\n  }\n}\n\nlet dbWelcomeMsg = orgData.welcomeMessage || parsed.welcomeMessage || \"Welcome!\";\ndbWelcomeMsg = dbWelcomeMsg\n  .replace(/{userName}/gi, userName)\n  .replace(/{orgName}/gi, orgName)\n  .replace(/@name/gi, resolvedName);\n\nconst dbWelcomeImg = orgData.welcomeImage ? 'https://ddf.s3.ap-south-1.amazonaws.com/' + orgData.welcomeImage : null;\n\n// Compute button id/title directly from the configured intents \u2014 never\n// trust the LLM to invent or shorten these. The reply id carries the FULL\n// exact intent name (WhatsApp allows up to 256 chars there) so downstream\n// matching is always exact; only the visible title is ever shortened, and\n// only when the name genuinely exceeds WhatsApp's 20-char button limit \u2014\n// cut at the last word boundary rather than mid-word.\nfunction truncateTitle(name, max = 20) {\n  if (name.length <= max) return name;\n  const cut = name.substring(0, max);\n  const lastSpace = cut.lastIndexOf(' ');\n  return lastSpace > 0 ? cut.substring(0, lastSpace) : cut;\n}\nconst doableIntents = (orgData.intents || []).filter(i => i.action === 'get' || i.action === 'create').slice(0, 3);\nconst buttons = doableIntents.map(i => ({ type: \"reply\", reply: { id: i.name, title: truncateTitle(i.name) } }));\n\nconst interactivePayload = {\n  messaging_product: \"whatsapp\",\n  to: phoneNumber,\n  type: \"interactive\",\n  interactive: {\n    type: \"button\",\n    body: { text: dbWelcomeMsg },\n    action: { buttons }\n  }\n};\n\nif (dbWelcomeImg) {\n  interactivePayload.interactive.header = {\n    type: \"image\",\n    image: { link: dbWelcomeImg }\n  };\n}\n\nreturn [{ json: { responseType: \"interactive\", message: dbWelcomeMsg, interactivePayload } }];"
      },
      "id": "9bfb0a70-1aca-4604-9e01-95b2aa579da3",
      "name": "Prepare Welcome Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25984,
        -1184
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cPlMPOYKAoXVgMOl",
          "mode": "id",
          "cachedResultUrl": "/workflow/cPlMPOYKAoXVgMOl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $execution.id }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.userId }}",
            "organizationId": "={{ $('Resolve Org Intents').first().json._id }}",
            "source": "support_agent",
            "model": "gpt-4o-mini",
            "inputMessage": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "parsedMessage": "={{ $('Prepare Welcome Payload').first().json.message }}",
            "intent": "",
            "action": "ask_user"
          },
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inputMessage",
              "displayName": "inputMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parsedMessage",
              "displayName": "parsedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "2bdc791c-393d-4785-bf64-754e32a248bb",
      "name": "Log Welcome Token (Sub)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        26176,
        -1184
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Prepare Welcome Payload').first().json }];"
      },
      "id": "2d2c7fd5-6d29-4d8e-ad2a-9b2fbff980ef",
      "name": "Return Welcome Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26400,
        -1184
      ]
    },
    {
      "parameters": {
        "jsCode": "const userName = $(\"Execute Workflow Trigger\").first().json.userName || \"User\";\nconst orgName =\n  $('Resolve Org Intents').first()?.json?.name || \"Organization\";\nconst userMessage = $(\"Execute Workflow Trigger\").first().json.userInput || \"\";\nconst messageSource =\n  $(\"Execute Workflow Trigger\").first().json.messageSource || \"text\";\nconst availableIntents =\n  $('Resolve Org Intents').first()?.json?.intents || [];\n\nlet alreadyCollectedSection = \"\";\nlet filteredIntents = availableIntents;\n\n// A fresh menu button tap always means \"start this intent over\" \u2014 never trust a\n// stale session's collected fields in that case, even if the session doc hasn't\n// been deleted from the DB yet by the time this node's output was captured.\nconst session = messageSource === 'button' ? null : $(\"Fetch Intent Session\").first().json;\nif (session && session.intentName) {\n  filteredIntents = availableIntents.filter(\n    (i) => i.name === session.intentName,\n  );\n  try {\n    const collected =\n      typeof session.collectedFields === \"string\"\n        ? JSON.parse(session.collectedFields)\n        : (session.collectedFields || {});\n    if (Object.keys(collected).length > 0) {\n      alreadyCollectedSection =\n        \"\\nALREADY COLLECTED FIELDS (CONFIRMED \u2014 carry forward as-is):\\n\" +\n        JSON.stringify(collected, null, 2) +\n        \"\\nDO NOT re-ask for any of these fields. Continue with the next uncollected parameter.\\n\";\n    }\n  } catch (e) {}\n}\n\nfunction buildParameterGuide(parameters) {\n  if (!parameters || parameters.length === 0) return \"  No parameters.\";\n  return parameters\n    .map((p) => {\n      if (p.type === \"repeat_section\")\n        return (\n          '  - PARAMETER_NAME=\"' +\n          p.name +\n          '\" | Type: repeat_section | THIS IS A MARKER \u2014 when all parameters above this are collected (or if there are none), immediately return action=\"enter_repeat\" with nextFieldName=\"' +\n          p.name +\n          '\". DO NOT collect a value for this field.'\n        );\n      let line =\n        '  - PARAMETER_NAME_COPY_EXACTLY=\"' +\n        p.name +\n        '\" | Type: ' +\n        p.type +\n        \" | resolvedBy: \" +\n        p.resolvedBy;\n      if (p.description) line += \" | Description: \" + p.description;\n      if (p.validationRule) line += \" | Validation Rule: \" + p.validationRule;\n      if (\n        p.type !== \"list_buttons\" &&\n        p.options &&\n        Array.isArray(p.options) &&\n        typeof p.options[0] === \"string\"\n      )\n        line += \" | Valid options: \" + p.options.join(\", \");\n      return line;\n    })\n    .join(\"\\n\");\n}\n\nconst intentSummary = filteredIntents\n  .map((intent) => {\n    const paramGuide = buildParameterGuide(intent.parameters);\n    return (\n      \"Intent name: \" +\n      intent.name +\n      \"\\nAction: \" +\n      intent.action +\n      \"\\nDescription: \" +\n      intent.description +\n      \"\\nParameters:\\n\" +\n      paramGuide +\n      \"\\nAdditionalInfo: \" +\n      JSON.stringify(intent.additionalInfo || {})\n    );\n  })\n  .join(\"\\n\\n---\\n\\n\");\n\nreturn [\n  {\n    json: {\n      prompt:\n        \"\\nUSER NAME: \" +\n        userName +\n        \"\\nORGANIZATION: \" +\n        orgName +\n        \"\\nMESSAGE SOURCE: \" +\n        messageSource +\n        \"\\nNEW USER MESSAGE: \" +\n        userMessage +\n        \"\\n\" +\n        alreadyCollectedSection +\n        \"\\nAVAILABLE INTENTS:\\n\" +\n        intentSummary +\n        \"\\n\",\n    },\n  },\n];\n"
      },
      "id": "f212d80a-00f1-476c-bd4f-a0e0b00a1f15",
      "name": "Prepare Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24432,
        -672
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=You are a conversational AI agent handling a WhatsApp support conversation.\n\nYOUR TASK:\nAnalyze the NEW USER MESSAGE and the CONVERSATION HISTORY, then return a JSON response based ONLY on the dynamically provided AVAILABLE INTENTS.\n\n---\n\nSTEP 1 - CLASSIFY THE MESSAGE:\nA) CONVERSATION CONTINUATION (thanks, ok, great, no, that is all, bye, goodbye) -> action = \"ask_user\", intent = null, nextFieldType = \"text\", nextFieldName = null\nB) ASKING FOR OPTIONS (what can you do, help, menu) -> action = \"ask_user\", intent = null\nC) OUT OF CONTEXT -> action = \"ask_user\", intent = null\nD) POTENTIAL INTENT MESSAGE -> continue to STEP 2.\n\nSTEP 2 - RECOVER STATE FROM HISTORY (CRITICAL):\nScan conversation history for most recent AI JSON response. Extract collectedData.fields. Carry forward unchanged.\nIf ALREADY COLLECTED FIELDS section exists in prompt, merge those too \u2014 they are confirmed.\n\nSTEP 3 - MATCH INTENT:\nCompare user message to each intent description to find the best matching intent.\nCRITICAL: The \"intent\" field in your JSON response MUST be copied EXACTLY, character-for-character, from that intent's \"Intent name:\" line above (same casing, spacing, punctuation). NEVER paraphrase, shorten, translate, slugify, or reformat it.\n- action = \"create\" -> process parameters\n- action = \"get\" -> execute unless has resolvedBy=\"user\" params\n\nSTEP 3.5 - STRICT PARAMETER SCOPING: Once matched, ONLY use parameters from THAT intent.\n\nSTEP 3.6 - CHECK MESSAGE SOURCE (CRITICAL \u2014 BUTTON OVERRIDE RULE):\n- \"text\" = User typed manually. Real content. Use for parameter extraction.\n- \"button\" = User tapped a menu button. This is INTENT SELECTION ONLY, NOT content.\n  WHEN messageSource = \"button\":\n    - The button title is ONLY used to match the intent name. It contains ZERO parameter data.\n    - ALL resolvedBy=\"auto\" parameters = MISSING. You MUST ask the user. Do NOT auto-generate.\n    - ALL resolvedBy=\"user\" parameters = MISSING. You MUST ask the user.\n    - ONLY resolvedBy=\"infer\" parameters can be resolved silently.\n    - Do NOT extract or generate any parameter values from the button title text.\n- \"list_reply\" = User selected option ID. Store as flat string.\n- \"media\" = User sent an image or document. The user message contains the media ID. You MUST extract this media ID and use it as the value for the \"file\" type parameter. Do NOT use this media ID for \"text\" or \"name\" parameters.\n\nSTEP 4 - PROCESS PARAMETERS (in order):\ntype = \"repeat_section\": CRITICAL MARKER. If all params BEFORE it are collected (or if it is the first param), you MUST immediately return action=\"enter_repeat\", nextFieldType=\"repeat_section\", nextFieldName=section name. DO NOT output action=\"ask_user\". DO NOT ask for params that come AFTER it. STOP execution and return enter_repeat immediately.\ntype = \"slot\": CRITICAL \u2014 when this is the parameter you are asking for, you MUST set nextFieldType=\"slot\" (NEVER \"text\") and nextFieldName=that parameter's exact name. This triggers the date/time picker popup \u2014 sending it as plain text breaks the booking flow. Only switch away from nextFieldType=\"slot\" once a valid date+time has actually been collected for this parameter.\nresolvedBy = \"user\": ask if missing. list_buttons/slot = store ID as flat string.\nresolvedBy = \"auto\": read description. If messageSource was \"button\", this is MISSING \u2014 ask user.\nresolvedBy = \"infer\": always resolve silently.\n\nSTEP 5 - ORDERING: You MUST ask for missing parameters STRICTLY in the exact top-to-bottom order they appear. If you hit a \"repeat_section\" before a \"text\" field, you MUST enter the repeat_section first! Never skip a repeat_section to ask for a text field below it.\n\nSTEP 6 - BUILD COLLECTED DATA: Never include repeat_section in fields. On execute: copy additionalInfo.\nIf ALREADY COLLECTED FIELDS exists, include all of them unchanged.\n\nReturn valid JSON only. No markdown. No code fences.\n{ \"action\": \"ask_user | execute | enter_repeat\", \"intent\": \"EXACT_intent_name_copied_from_AVAILABLE_INTENTS_or_null\", \"message\": \"message to send to user\", \"nextFieldType\": \"text | list_buttons | options | repeat_section | slot | null\", \"nextFieldName\": \"parameter_name_or_null\", \"collectedData\": { \"fields\": {}, \"additionalInfo\": {} }, \"readyForExecution\": true_or_false }"
        }
      },
      "id": "668a59c1-abdf-4e7a-9ddf-3a3738b9a3d1",
      "name": "Support AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        24736,
        -672
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "50039d27-e3c8-4b14-9db9-836504eade35",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        24736,
        -416
      ],
      "credentials": {
        "openAiApi": {
          "id": "uXr0nmkLxemPDRRi",
          "name": "aami-dev"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Execute Workflow Trigger').first().json.userId }}",
        "databaseName": "chat-bot"
      },
      "id": "48d1f2f8-cf42-43f6-aa13-e294bbdc6b1b",
      "name": "MongoDB Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        24832,
        -240
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\ntry { return [{ json: JSON.parse(cleaned) }]; } catch (e) { throw new Error('Parse fail: ' + e.message + ' | ' + raw); }"
      },
      "id": "a30f68cf-bdc4-41bc-87b6-1d6fad77b988",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25184,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $input.first().json;\nconst orgDoc = $('Resolve Org Intents').first().json;\nconst trigger = $(\"Execute Workflow Trigger\").first().json;\n\n// FORCIBLE INTENT NAME FIX: the model is instructed to copy the intent name\n// exactly, but guard against minor deviations (case, stray whitespace) so a\n// near-miss never silently breaks intent lookups downstream.\nif (parsed.intent) {\n  const exactMatch = (orgDoc.intents || []).find(i => i.name === parsed.intent);\n  if (!exactMatch) {\n    const fuzzyMatch = (orgDoc.intents || []).find(\n      i => i.name.trim().toLowerCase() === String(parsed.intent).trim().toLowerCase()\n    );\n    if (fuzzyMatch) parsed.intent = fuzzyMatch.name;\n  }\n}\n\n// FORCIBLE SLOT FIX\nif (parsed.collectedData && parsed.collectedData.fields) {\n  for (const key of Object.keys(parsed.collectedData.fields)) {\n    const val = parsed.collectedData.fields[key];\n    if (typeof val === 'string' && val.startsWith('__date__')) {\n      parsed.collectedData.additionalInfo = parsed.collectedData.additionalInfo || {};\n      parsed.collectedData.additionalInfo.selectedDate = val;\n      delete parsed.collectedData.fields[key];\n      \n      parsed.action = 'ask_user';\n      parsed.nextFieldName = key;\n      parsed.nextFieldType = 'slot';\n      parsed.readyForExecution = false;\n      parsed.message = \"Please select a time slot for the chosen date.\";\n    } else if (typeof val === 'string' && val === '__change_date__') {\n      if (parsed.collectedData.additionalInfo) delete parsed.collectedData.additionalInfo.selectedDate;\n      delete parsed.collectedData.fields[key];\n      \n      parsed.action = 'ask_user';\n      parsed.nextFieldName = key;\n      parsed.nextFieldType = 'slot';\n      parsed.readyForExecution = false;\n      parsed.message = \"Please select a different date.\";\n    }\n  }\n}\n\n// FORCIBLE SLOT FIX SAFETY NET: the AI agent is instructed to copy a raw\n// \"__date__...\" list-reply id verbatim into collectedData.fields, but if it\n// fails to do so (drops the prefix, rewords it, or misassigns the field) the\n// fix above never fires and the slot API gets called without selectedDate,\n// showing the date list again instead of times. Derive it directly from the\n// raw incoming WhatsApp reply instead, which is always reliable.\nif (!parsed.collectedData?.additionalInfo?.selectedDate) {\n  const rawInput = trigger.userInput || '';\n  if (trigger.messageSource === 'list_reply' && rawInput.startsWith('__date__')) {\n    const intent = (orgDoc.intents || []).find(i => i.name === parsed.intent)\n      || (orgDoc.intents || []).find(i => (i.parameters || []).some(p => p.type === 'slot'));\n    const slotParam = intent?.parameters?.find(p => p.type === 'slot');\n    if (slotParam) {\n      parsed.intent = parsed.intent || intent.name;\n      parsed.collectedData = parsed.collectedData || { fields: {}, additionalInfo: {} };\n      parsed.collectedData.fields = parsed.collectedData.fields || {};\n      parsed.collectedData.additionalInfo = parsed.collectedData.additionalInfo || {};\n      parsed.collectedData.additionalInfo.selectedDate = rawInput;\n      delete parsed.collectedData.fields[slotParam.name];\n\n      parsed.action = 'ask_user';\n      parsed.nextFieldName = slotParam.name;\n      parsed.nextFieldType = 'slot';\n      parsed.readyForExecution = false;\n      parsed.message = \"Please select a time slot for the chosen date.\";\n    }\n  }\n}\n\n// FORCIBLE SLOT TIME FIX: when the user picks a TIME slot, the list-reply id is a\n// JSON blob {date,time,endTime,display,quantity,available} that must be stored\n// verbatim as the slot field's value. The model sometimes \"helpfully\" reformats\n// this into a plain ISO datetime string instead, silently dropping endTime/\n// display/quantity/available. Derive the field value directly from the raw\n// incoming WhatsApp reply instead, which is always reliable.\nif (trigger.messageSource === 'list_reply') {\n  const rawTimeInput = trigger.userInput || '';\n  if (rawTimeInput.startsWith('{') && rawTimeInput.endsWith('}')) {\n    let timeSlotData = null;\n    try { timeSlotData = JSON.parse(rawTimeInput); } catch (e) {}\n    if (timeSlotData && timeSlotData.date && timeSlotData.time) {\n      const timeIntent = (orgDoc.intents || []).find(i => i.name === parsed.intent)\n        || (orgDoc.intents || []).find(i => (i.parameters || []).some(p => p.type === 'slot'));\n      const timeSlotParam = timeIntent?.parameters?.find(p => p.type === 'slot');\n      if (timeSlotParam) {\n        parsed.intent = parsed.intent || timeIntent.name;\n        parsed.collectedData = parsed.collectedData || { fields: {}, additionalInfo: {} };\n        parsed.collectedData.fields = parsed.collectedData.fields || {};\n        parsed.collectedData.fields[timeSlotParam.name] = timeSlotData;\n      }\n    }\n  }\n}\n\n// FORCIBLE PARAMETER ORDER FIX: STEP 5 tells the model to ask for missing\n// parameters strictly in top-to-bottom order, but nothing enforces that in\n// code \u2014 a model that skips ahead to a later parameter is never caught.\n// Compute the true next unanswered parameter ourselves (first one, in\n// configured order, that isn't resolvedBy=\"infer\" and has no collected\n// value yet) and correct nextFieldName/nextFieldType if the model picked a\n// different one. Slot fields mid-flow (date picked, time not yet) are\n// unaffected: the field only counts as \"collected\" once its full value is\n// stored, so the slot-specific fixes above keep steering the same field\n// here too \u2014 this only fires on a genuine ordering mismatch.\nif (parsed.action === 'ask_user' && parsed.intent && parsed.nextFieldName) {\n  const orderIntent = (orgDoc.intents || []).find(i => i.name === parsed.intent);\n  if (orderIntent) {\n    let mergedFields = { ...(parsed.collectedData?.fields || {}) };\n    try {\n      const session = $(\"Fetch Intent Session\").first().json;\n      if (session && session.collectedFields) {\n        const sessionFields = typeof session.collectedFields === 'string'\n          ? JSON.parse(session.collectedFields) : session.collectedFields;\n        for (const [k, v] of Object.entries(sessionFields)) {\n          if (Array.isArray(v) || !mergedFields[k]) mergedFields[k] = v;\n        }\n      }\n    } catch (e) {}\n\n    const isCollected = (p) => {\n      const val = mergedFields[p.name];\n      if (p.type === 'repeat_section') return Array.isArray(val) && val.length > 0;\n      return val !== undefined && val !== null && val !== '';\n    };\n\n    const trueNextParam = (orderIntent.parameters || []).find(p => p.resolvedBy !== 'infer' && !isCollected(p));\n\n    if (trueNextParam && trueNextParam.name !== parsed.nextFieldName) {\n      parsed.nextFieldName = trueNextParam.name;\n      parsed.nextFieldType = trueNextParam.type;\n    }\n  }\n}\n\n// FORCIBLE QUESTION TEXT FIX: when asking the user for a simple text parameter,\n// use the exact configured description verbatim instead of letting the model\n// paraphrase it. Deliberately scoped to type=\"text\" only \u2014 slot/list_buttons/\n// options/repeat_section descriptions are instructions to the AI on how to\n// run a multi-step flow, not literal user-facing text, so those must stay\n// dynamically composed.\nif (parsed.action === 'ask_user' && parsed.intent && parsed.nextFieldName) {\n  const askIntent = (orgDoc.intents || []).find(i => i.name === parsed.intent);\n  const askParam = askIntent?.parameters?.find(p => p.name === parsed.nextFieldName);\n  if (askParam && askParam.type === 'text' && askParam.description) {\n    parsed.message = askParam.description;\n  }\n}\n\nif (parsed.intent && parsed.nextFieldName) {\n  const intent = (orgDoc.intents || []).find(i => i.name === parsed.intent);\n  if (intent) {\n    const param = (intent.parameters || []).find(p => p.name === parsed.nextFieldName);\n\n    // FORCIBLE TYPE GUARD: the model sometimes misclassifies a \"slot\" parameter as a\n    // repeat_section (or plain text) marker. A slot field must always resolve to\n    // nextFieldType=\"slot\" with action=\"ask_user\" so the date/time picker fires,\n    // regardless of what the LLM decided \u2014 this takes priority over the\n    // repeat_section override below.\n    if (param && param.type === 'slot' && (parsed.nextFieldType !== 'slot' || parsed.action === 'enter_repeat')) {\n      return [{ json: { ...parsed, action: 'ask_user', nextFieldType: 'slot' } }];\n    }\n\n    if (param && param.type === 'repeat_section') {\n      return [{ json: { ...parsed, action: 'enter_repeat', nextFieldType: 'repeat_section',\n        collectedData: { fields: Object.fromEntries(Object.entries(parsed.collectedData?.fields || {}).filter(([k]) => k !== parsed.nextFieldName)),\n          additionalInfo: parsed.collectedData?.additionalInfo || {} } } }];\n    }\n  }\n}\nreturn [{ json: parsed }];\n"
      },
      "id": "018c0b29-f6b0-4c16-a2a7-792217ee11a1",
      "name": "Override Repeat Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25408,
        -672
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f8c2b95-b247-4385-9e4f-445b62ec57d8",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "execute",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Execute"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4176ad1b-2554-4e94-a8c6-e77a4c66ab24",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "enter_repeat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enter Repeat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0dd57fa5-8419-4794-a88c-0e08d8308a5e",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "ask_user",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ask User"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "51162890-14d6-4786-bd77-74951b582e94",
      "name": "Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        25632,
        -688
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "3813fb62-e7a0-463f-943d-fdec13db6414",
      "name": "Cleanup Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        25840,
        -960
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "45499b47-cd11-4aff-a358-aaf81945c70e",
      "name": "Cleanup Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        26064,
        -960
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ai = $(\"Override Repeat Detection\").first().json;\nconst intents = $('Resolve Org Intents').first().json.intents;\nconst mi = intents.find((i) => i.name === ai.intent) || {};\nconst orgDoc = $('Resolve Org Intents').first().json;\nconst triggerData = $(\"Execute Workflow Trigger\").first().json;\n\n// Start with AI's collected fields\nlet fields = JSON.parse(JSON.stringify(ai.collectedData?.fields || {}));\n\n// Merge session's collectedFields (has repeat array) if session exists\ntry {\n  const session = $(\"Fetch Intent Session\").first().json;\n  if (session && session.collectedFields) {\n    const sessionFields =\n      typeof session.collectedFields === \"string\"\n        ? JSON.parse(session.collectedFields)\n        : session.collectedFields;\n    // Session fields take priority for arrays (repeat data)\n    // AI fields take priority for strings (post-repeat data)\n    for (const [key, value] of Object.entries(sessionFields)) {\n      if (Array.isArray(value) || !fields[key]) {\n        fields[key] = value;\n      }\n    }\n  }\n} catch (e) {}\n\nreturn [\n  {\n    json: {\n      intent: ai.intent,\n      params: {\n        fields,\n        additionalInfo: mi.additionalInfo || {},\n        userId: triggerData.userId,\n        parentOrganizationId: orgDoc.parentOrganizationId,\n        responseFields: mi.responseFields || [],\n      },\n    },\n  },\n];\n"
      },
      "id": "a7d9a066-389f-4214-a02c-893306c19ebe",
      "name": "Prepare Webhook Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26288,
        -960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Call Config').first().json.BACKEND_BASE_URL }}/ai-chat/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "eae2a464-c981-405e-954b-a2b8393a07e1",
      "name": "Call Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        26512,
        -960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sdec288NlfXYh6zO",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const wd = $('Call Webhook').first().json;\nconst ai = $('Override Repeat Detection').first().json;\nconst mi = ($('Resolve Org Intents').first().json.intents||[]).find(i=>i.name===ai.intent)||{};\nconst rg = mi.response||null;\n\n// Build the reply directly from real data \u2014 no LLM formatting step, so the\n// configured response text and record data always come through exactly as\n// stored, with zero risk of paraphrasing, omission, or invented text.\nconst hasData = Array.isArray(wd.resolvedData)\n  ? wd.resolvedData.length > 0\n  : (wd.resolvedData !== undefined && wd.resolvedData !== null && wd.resolvedData !== '');\n\nlet finalMessage;\nif (hasData) {\n  const dataLines = Array.isArray(wd.resolvedData) ? wd.resolvedData.join('\\n\\n') : String(wd.resolvedData);\n  finalMessage = [rg, dataLines].filter(Boolean).join('\\n\\n');\n} else {\n  // No data to show (e.g. \"No records found.\") \u2014 that message IS meant for the user.\n  finalMessage = wd.message || 'Done.';\n}\n\nreturn [{ json: { responseType: 'text', message: finalMessage } }];"
      },
      "id": "cafcea02-d089-4198-a89b-837ad584de45",
      "name": "Return Execute Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26736,
        -960
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $(\"Override Repeat Detection\").first().json;\nconst t = $(\"Execute Workflow Trigger\").first().json;\nconst orgDoc = $('Resolve Org Intents').first().json;\nconst intent = (orgDoc.intents || []).find((i) => i.name === ai.intent);\nconst sectionName = ai.nextFieldName;\nconst mainIndex = (intent?.parameters || []).findIndex(\n  (p) => p.name === sectionName,\n);\nreturn [\n  {\n    json: {\n      userId: t.userId,\n      phoneNumber: t.phoneNumber,\n      intentName: ai.intent,\n      organizationIntentId: orgDoc._id,\n      parentOrganizationId: orgDoc.parentOrganizationId,\n      phase: \"repeat\",\n      currentMainIndex: mainIndex >= 0 ? mainIndex : 0,\n      sectionName: sectionName,\n      currentCycle: 1,\n      currentFieldIndex: 0,\n      completedItems: \"[]\",\n      currentItem: \"{}\",\n      collectedFields: JSON.stringify(ai.collectedData?.fields || {}),\n      generatedQuestions: \"\",\n      createdAt: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "id": "81c36273-ef57-4037-b966-0bbd148895d6",
      "name": "Prepare Intent Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25936,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "94921670-c5c6-4795-ab5f-1e3dd30a5c13",
      "name": "Delete Old Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        26160,
        -672
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Prepare Intent Session').first().json }];"
      },
      "id": "eec508dc-be27-4cab-8472-7acc209bcb29",
      "name": "Reattach Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26384,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "intent_sessions",
        "fields": "userId,phoneNumber,intentName,organizationIntentId,parentOrganizationId,phase,currentMainIndex,sectionName,currentCycle,currentFieldIndex,completedItems,currentItem,collectedFields,generatedQuestions,createdAt",
        "options": {}
      },
      "id": "f9df4dc6-7cbb-4e5b-bbc7-77aa74685d4b",
      "name": "Create Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        26608,
        -672
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('WF5 \u2014 Repeat Engine').first().json }];"
      },
      "id": "04b7118d-1f17-4b24-9831-dbb8c3e9873f",
      "name": "Return Repeat Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27312,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Override Repeat Detection').first().json;\nconst orgDoc = $('Resolve Org Intents').first().json;\nconst phoneNumber = $('Execute Workflow Trigger').first().json.phoneNumber;\nconst nft = parsed.nextFieldType || 'text';\nconst nfn = parsed.nextFieldName || null;\n\nfunction textResp(msg) { return [{ json: { responseType: \"text\", message: msg } }]; }\nfunction interResp(msg, pl) { return [{ json: { responseType: \"interactive\", message: msg, interactivePayload: pl } }]; }\n\nif (nft === 'text' || !nfn) return textResp(parsed.message);\n\nconst intent = (orgDoc.intents||[]).find(i=>i.name===parsed.intent);\nconst param = intent?.parameters?.find(p=>p.name===nfn);\nif (!param) return textResp(parsed.message);\n\nif (nft === 'slot' && param.slotConfigId) {\n  const baseUrl = $('Call Config').first().json.BACKEND_BASE_URL;\n    const selectedDate = parsed.collectedData?.additionalInfo?.selectedDate;\n  const dateParam = selectedDate ? \"&selectedDate=\" + encodeURIComponent(selectedDate.replace('__date__','')) : \"\";\n  const slotUrl = baseUrl + \"/public/slotConfig/\" + param.slotConfigId + \"/availability?parentOrganizationId=\" + (orgDoc.parentOrganizationId || orgDoc._id || \"\") + dateParam;\n  return [{ json: { responseType: '__needs_api__', message: parsed.message, intent: parsed.intent, nextFieldName: nfn, nextFieldType: nft, optionsConfig: { url: slotUrl, method: 'GET', mapping: { id: 'id', title: 'title' } }, collectedData: parsed.collectedData } }];\n}\n\nif (!param.options && !param.optionsConfig) return textResp(parsed.message);\n\nif ((param.optionsSource||'static') === 'api' && param.optionsConfig) {\n  let apiUrl = param.optionsConfig.url;\n  if (apiUrl && apiUrl.startsWith('/')) {\n    const baseUrl = $('Call Config').first().json.BACKEND_BASE_URL;\n    param.optionsConfig.url = baseUrl + apiUrl;\n  }\n  return [{ json: { responseType: '__needs_api__', message: parsed.message, intent: parsed.intent, nextFieldName: nfn, nextFieldType: nft, optionsConfig: param.optionsConfig, collectedData: parsed.collectedData } }];\n}\n\nconst opts = (param.options||[]).map((o,i) => ({ id: typeof o==='string'?o:(o.id||String(i)), title: typeof o==='string'?o:(o.title||'') }));\nif (!opts.length) return textResp(parsed.message);\n\nif (nft === 'options' && opts.length <= 3) {\n  const btns = opts.map(o=>({type:\"reply\",reply:{id:o.id,title:o.title.substring(0,20)}}));\n  return interResp(parsed.message, {messaging_product:\"whatsapp\",to:phoneNumber,type:\"interactive\",interactive:{type:\"button\",body:{text:parsed.message},action:{buttons:btns}}});\n}\n\nconst PAGE_SIZE=9; const needsP=opts.length>10;\nconst rows = (needsP?opts.slice(0,PAGE_SIZE):opts).map(o=>({id:o.id,title:o.title.substring(0,24)}));\nif (needsP) rows.push({id:'__page__'+parsed.intent+'__'+nfn+'__2',title:'\\u25B6 More options'});\nreturn interResp(parsed.message, {messaging_product:\"whatsapp\",recipient_type:\"individual\",to:phoneNumber,type:\"interactive\",interactive:{type:\"list\",body:{text:parsed.message},action:{button:\"Select an option\",sections:[{rows}]}}});"
      },
      "id": "136b7565-aabc-4c78-ba9a-d251a903e9b2",
      "name": "Build Ask Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25840,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "03dde571-09f3-4b36-a451-f2c228a0c9ca",
              "leftValue": "={{ $json.responseType }}",
              "rightValue": "__needs_api__",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a625281-cb6b-4eb9-9e96-165fd4b7e0da",
      "name": "Needs API?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        26064,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Build Ask Response').first().json }];"
      },
      "id": "ef509205-11e2-432f-a615-17e182690a57",
      "name": "Return Ask Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26512,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;const c=d.optionsConfig;const orgDoc=$('Resolve Org Intents').first().json;\nreturn [{json:{url:c.url,method:c.method||'GET',headers:c.headers||{},body:{...(c.body||{}),parentOrganizationId:orgDoc.parentOrganizationId},mapping:c.mapping||{id:'id',title:'title'},dataPath:c.dataPath||null,message:d.message,intent:d.intent,nextFieldName:d.nextFieldName}}];"
      },
      "id": "1d10f15c-b019-477d-87b8-1930445e78a3",
      "name": "Prep API Req",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26288,
        -496
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "0edf86f2-b61a-4cf9-ad8e-e9ce251e183d",
      "name": "Fetch API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        26512,
        -496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sdec288NlfXYh6zO",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const api=$input.first().json;const p=$('Prep API Req').first().json;\nconst ph=$('Execute Workflow Trigger').first().json.phoneNumber;\nif (api.sections && !p.dataPath) {\n  return [{json:{phoneNumber:ph,intentName:p.intent,fieldName:p.nextFieldName,options:JSON.stringify(api.sections),totalCount:api.sections.reduce((acc, s) => acc + (s.rows || []).length, 0),createdAt:new Date().toISOString(),message:p.message,resolvedSections:api.sections}}];\n}\nlet raw=api;if(p.dataPath){for(const k of p.dataPath.split('.'))raw=raw?.[k];}\nif(!Array.isArray(raw))raw=[];\nconst opts=raw.map(i=>({id:String(i[p.mapping.id]||''),title:String(i[p.mapping.title]||'')}));\nreturn [{json:{phoneNumber:ph,intentName:p.intent,fieldName:p.nextFieldName,options:JSON.stringify(opts),totalCount:opts.length,createdAt:new Date().toISOString(),message:p.message,resolvedOptions:opts}}];"
      },
      "id": "70292a76-7776-4e03-9513-8d1c38e87534",
      "name": "Map & Prep Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26736,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;return [{json:{phoneNumber:d.phoneNumber,intentName:d.intentName,fieldName:d.fieldName,options:d.options,totalCount:d.totalCount,createdAt:d.createdAt}}];"
      },
      "id": "248ad98c-d2b4-4024-9ce0-3822aedf2ab8",
      "name": "Extract Cache Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26960,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "options_cache",
        "fields": "phoneNumber,intentName,fieldName,options,totalCount,createdAt",
        "options": {}
      },
      "id": "ac99e63b-f65d-47e7-97b2-5a0b694a9218",
      "name": "Save Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        27216,
        -496
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d=$('Map & Prep Cache').first().json;\nconst ph=d.phoneNumber;const p=$('Prep API Req').first().json;\n\nfunction paginateSections(sections, page, intentName, fieldName) {\n  const PAGE_SIZE = 8;\n  const flatRows = [];\n  for (const sec of sections) {\n    for (const row of sec.rows) {\n      flatRows.push({\n        sectionTitle: sec.title,\n        rowId: row.id,\n        rowTitle: row.title\n      });\n    }\n  }\n  const totalPages = Math.ceil(flatRows.length / PAGE_SIZE);\n  const startIdx = (page - 1) * PAGE_SIZE;\n  const endIdx = Math.min(startIdx + PAGE_SIZE, flatRows.length);\n  const pageRows = flatRows.slice(startIdx, endIdx);\n  const paginatedSections = [];\n  const sectionMap = {};\n  for (const item of pageRows) {\n    if (!sectionMap[item.sectionTitle]) {\n      sectionMap[item.sectionTitle] = { title: item.sectionTitle, rows: [] };\n      paginatedSections.push(sectionMap[item.sectionTitle]);\n    }\n    sectionMap[item.sectionTitle].rows.push({ id: item.rowId, title: item.rowTitle });\n  }\n  const navigationRows = [];\n  if (page > 1) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page - 1), title: '\u25c0 Previous dates' });\n  }\n  if (page < totalPages) {\n    navigationRows.push({ id: '__page__' + intentName + '__' + fieldName + '__' + (page + 1), title: 'More dates & times' });\n  }\n  if (navigationRows.length > 0) {\n    paginatedSections.push({ title: 'Other dates', rows: navigationRows });\n  }\n  return paginatedSections;\n}\n\nif (d.resolvedSections) {\n  const sections = d.resolvedSections;\n  const totalRows = sections.reduce((acc, s) => acc + (s.rows || []).length, 0);\n  const paginated = totalRows <= 10 ? sections : paginateSections(sections, 1, p.intent, p.nextFieldName);\n  return [{json:{responseType:\"interactive\",message:d.message,interactivePayload:{messaging_product:\"whatsapp\",recipient_type:\"individual\",to:ph,type:\"interactive\",interactive:{type:\"list\",body:{text:d.message},action:{button:\"Select an option\",sections:paginated}}}}}];\n}\nconst opts=d.resolvedOptions||[];\nif(!opts.length)return [{json:{responseType:\"text\",message:d.message}}];\nconst PS=9;const needsP=opts.length>10;\nconst rows=(needsP?opts.slice(0,PS):opts).map(o=>({id:o.id,title:o.title.substring(0,24)}));\nif(needsP)rows.push({id:'__page__'+p.intent+'__'+p.nextFieldName+'__2',title:'\\u25B6 More options'});\nreturn [{json:{responseType:\"interactive\",message:d.message,interactivePayload:{messaging_product:\"whatsapp\",recipient_type:\"individual\",to:ph,type:\"interactive\",interactive:{type:\"list\",body:{text:d.message},action:{button:\"Select an option\",sections:[{rows}]}}}}}];"
      },
      "id": "1b2112ca-f90c-4053-9170-1c2fcc6cefdf",
      "name": "Build API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27440,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Build API Response').first().json }];"
      },
      "id": "c0fbf92a-2aa0-4025-b7cf-9d2dfce9f711",
      "name": "Return API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27888,
        -496
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cPlMPOYKAoXVgMOl",
          "mode": "id",
          "cachedResultUrl": "/workflow/cPlMPOYKAoXVgMOl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $execution.id }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.userId }}",
            "organizationId": "={{ $('Resolve Org Intents').first().json._id }}",
            "source": "support_agent",
            "model": "gpt-4.1-mini",
            "inputMessage": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "parsedMessage": "={{ $('Override Repeat Detection').first().json.message }}",
            "intent": "={{ $('Override Repeat Detection').first().json.intent }}",
            "action": "ask_user"
          },
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inputMessage",
              "displayName": "inputMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parsedMessage",
              "displayName": "parsedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "a51e2e3e-bb59-44f6-b69d-afdf8b208737",
      "name": "Log Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        26288,
        -304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cPlMPOYKAoXVgMOl",
          "mode": "id",
          "cachedResultUrl": "/workflow/cPlMPOYKAoXVgMOl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $execution.id }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.userId }}",
            "organizationId": "={{ $('Resolve Org Intents').first().json._id }}",
            "source": "support_agent",
            "model": "gpt-4.1-mini",
            "inputMessage": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "parsedMessage": "={{ $('Override Repeat Detection').first().json.message }}",
            "intent": "={{ $('Override Repeat Detection').first().json.intent }}",
            "action": "ask_user"
          },
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inputMessage",
              "displayName": "inputMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parsedMessage",
              "displayName": "parsedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "42eae5dd-1a7c-4625-ad4d-3fa68efc0301",
      "name": "Log  Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        27664,
        -496
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cPlMPOYKAoXVgMOl",
          "mode": "id",
          "cachedResultUrl": "/workflow/cPlMPOYKAoXVgMOl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "executionId": "={{ $execution.id }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.userId }}",
            "organizationId": "={{ $('Resolve Org Intents').first().json._id }}",
            "source": "support_agent",
            "model": "gpt-4.1-mini",
            "inputMessage": "={{ $('Execute Workflow Trigger').first().json.userInput }}",
            "parsedMessage": "={{ $('Override Repeat Detection').first().json.message }}",
            "intent": "={{ $('Override Repeat Detection').first().json.intent }}",
            "action": "enter_repeat"
          },
          "schema": [
            {
              "id": "executionId",
              "displayName": "executionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inputMessage",
              "displayName": "inputMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parsedMessage",
              "displayName": "parsedMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "9b8e1633-4ecc-4bbc-ba09-d5e042382644",
      "name": "Log Token3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        27056,
        -672
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cWs9m9UCqdrlsXjP",
          "mode": "id",
          "cachedResultUrl": "/workflow/cWs9m9UCqdrlsXjP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phoneNumber": "={{ $('Execute Workflow Trigger').first().json.phoneNumber }}",
            "messageSource": "entering_repeat",
            "userInput": "",
            "organizationId": "={{ $('Resolve Org Intents').first().json._id }}",
            "parentOrganizationId": "={{ $('Resolve Org Intents').first().json.parentOrganizationId }}",
            "userId": "={{ $('Execute Workflow Trigger').first().json.userId }}"
          },
          "schema": [
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageSource",
              "displayName": "messageSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userInput",
              "displayName": "userInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "parentOrganizationId",
              "displayName": "parentOrganizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "45cc6a2f-1963-494f-bdc3-7f71ba4d5b74",
      "name": "WF5 \u2014 Repeat Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        26832,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const orgDoc = $('Find Organization and intents').first().json;\nconst rawPhone = $('Execute Workflow Trigger').first().json.phoneNumber || \"\";\n\n// Consider it an auth intent if it has a formId AND EITHER a fieldName OR a numberField\nconst authIntents = (orgDoc.intents || []).filter(i => i.auth && i.auth.formId && (i.auth.fieldName || i.auth.numberField));\n\nif (authIntents.length === 0) {\n  return [{ json: { ...orgDoc, needsAuthFilter: false } }];\n}\n\n// Strip non-digits and get last 10\nconst cleanPhone = String(rawPhone).replace(/\\D/g, '');\nconst baseNum = cleanPhone.length > 10 ? cleanPhone.slice(-10) : cleanPhone;\n\nconst camelCase = (str) => {\n  if (!str) return '';\n  return str.replace(/(?:^\\w|[A-Z]|\\b\\w)/g, (word, index) => {\n    return index === 0 ? word.toLowerCase() : word.toUpperCase();\n  }).replace(/\\s+/g, '');\n};\n\nconst orConditions = authIntents.map(i => {\n  const f1 = i.auth.fieldName || i.auth.numberField;\n  const f2 = camelCase(f1);\n  \n  // Use \"contains\" instead of \"ends with\" to be safe against trailing whitespace\n  const regexQuery = { \"$regex\": baseNum, \"$options\": \"i\" };\n  \n  const fieldOrs = [\n    { [f1]: regexQuery },\n    { [f1 + \".value\"]: regexQuery }\n  ];\n  \n  if (f1 !== f2) {\n    fieldOrs.push({ [f2]: regexQuery }, { [f2 + \".value\"]: regexQuery });\n  }\n  \n  return {\n    \"formid\": i.auth.formId,\n    \"$or\": fieldOrs\n  };\n});\n\nconst query = { \"$or\": orConditions };\nreturn [{ json: { ...orgDoc, needsAuthFilter: true, authQuery: query } }];"
      },
      "id": "1c1a5a2f-ba2d-47a7-8248-a2d8a1c4b2f9",
      "name": "Build Auth Filter Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22400,
        -1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "needs-filter",
              "leftValue": "={{ $json.needsAuthFilter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24ad0066-fa71-42c9-bc23-3e79699ecc4e",
      "name": "Needs Auth Filter?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        22624,
        -1152
      ]
    },
    {
      "parameters": {
        "collection": "ddfvalues",
        "options": {},
        "query": "={{ JSON.stringify($json.authQuery) }}"
      },
      "id": "1d78ab47-5194-4ea3-9fb7-ac9f997a1ec6",
      "name": "Fetch Authorized Forms",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        22800,
        -1424
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "aX4C7RRQTBjcpgNp",
          "name": "ddf-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Deep clone to prevent mutating original cached data\nconst orgDoc = JSON.parse(JSON.stringify($('Find Organization and intents').first().json));\n\nconst needs = $('Build Auth Filter Query').first().json.needsAuthFilter;\nlet authorizedFormIds = [];\n\nif (needs) {\n  // If needs is true, this node was reached via 'Fetch Authorized Forms', \n  // meaning $input contains the DDF values returned by the database.\n  const ddfValues = $input.all().map(item => item.json);\n  authorizedFormIds = ddfValues.map(doc => doc.formid).filter(id => id);\n}\n\nconst filteredIntents = (orgDoc.intents || []).filter(i => {\n  // Disabled intents (isActive === false, set via the Intent Builder toggle)\n  // are invisible to the chatbot entirely \u2014 filtered here so every downstream\n  // consumer (welcome buttons, the LLM's available-intents list, execution\n  // lookup) automatically respects it without separate changes.\n  if (i.isActive === false) return false;\n  if (!i.auth || !i.auth.formId) return true;\n  return authorizedFormIds.includes(i.auth.formId);\n});\n\norgDoc.intents = filteredIntents;\nreturn [{ json: orgDoc }];"
      },
      "id": "94562e4a-ffaa-4d78-ab5b-99c8dda21bd7",
      "name": "Resolve Org Intents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22992,
        -1168
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "eb158f91-9418-4f40-b63c-7f186bb8be9a",
      "name": "Cleanup Cache on Reset",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        24384,
        -928
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "95ba3de9-7028-4c17-8d71-81cfba41dfe0",
      "name": "Cleanup Sessions on Reset",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        24592,
        -928
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orgData = $('Resolve Org Intents').first()?.json || {};\nconst phoneNumber = $('Execute Workflow Trigger').first()?.json?.phoneNumber || '';\nconst cleanPhone = String(phoneNumber).replace(/\\D/g, '');\nconst baseNum = cleanPhone.length > 10 ? cleanPhone.slice(-10) : cleanPhone;\n\nconst canLookup = !!(orgData.authFormId && orgData.authPhoneField && orgData.authNameField && baseNum);\n\n// _id: null is an always-empty query \u2014 used when the lookup isn't configured,\n// so the following Mongo node still runs (with alwaysOutputData) but finds nothing.\nlet query = { _id: null };\nif (canLookup) {\n  const regexQuery = { $regex: baseNum, $options: 'i' };\n  query = {\n    formid: orgData.authFormId,\n    $or: [\n      { [orgData.authPhoneField]: regexQuery },\n      { [orgData.authPhoneField + '.value']: regexQuery }\n    ]\n  };\n}\n\nreturn [{ json: { query } }];"
      },
      "id": "571567ef-ebf4-4c1a-b1b9-6c93e946fa7a",
      "name": "Build Name Lookup Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23216,
        -1168
      ]
    },
    {
      "parameters": {
        "collection": "ddfvalues",
        "options": {},
        "query": "={{ JSON.stringify($json.query) }}"
      },
      "id": "a080ee78-dbf4-410e-bb71-6d51a8ede7bf",
      "name": "Fetch Auth Name Record",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        23424,
        -1168
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "aX4C7RRQTBjcpgNp",
          "name": "ddf-dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orgData = $('Resolve Org Intents').first()?.json || {};\nconst authRecord = $input.first()?.json || {};\n\n// Only gate access if an Auth Form + Phone Number Field are actually\n// configured. Otherwise every phone number is authorized (unchanged\n// behavior for orgs that never set this up).\nconst requiresAuth = !!(orgData.authFormId && orgData.authPhoneField);\nconst isAuthorized = !requiresAuth || !!(authRecord && authRecord._id);\n\nreturn [{ json: { ...orgData, isAuthorized } }];"
      },
      "id": "c3fca3d8-821e-46c1-8b9e-c28e44e8afd0",
      "name": "Check Authorization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23600,
        -1168
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SET_ME_TO_WF0_CONFIG_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "WF0 \u2014 Config"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "schema": []
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
      "name": "Call Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        22080,
        -1152
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Call Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Organization and intents": {
      "main": [
        [
          {
            "node": "Build Auth Filter Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Org and Intents": {
      "main": [
        [
          {
            "node": "Fetch Intent Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Permissions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session": {
      "main": [
        [
          {
            "node": "Has Active Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Session": {
      "main": [
        [
          {
            "node": "Prepare Agent Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup Cache on Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Check Prompt": {
      "main": [
        [
          {
            "node": "Welcome Check LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Check LLM": {
      "main": [
        [
          {
            "node": "Parse Welcome Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Welcome Response": {
      "main": [
        [
          {
            "node": "Is Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Welcome": {
      "main": [
        [
          {
            "node": "Cleanup Cache on Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Cache on Welcome": {
      "main": [
        [
          {
            "node": "Cleanup Sessions on Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Sessions on Welcome": {
      "main": [
        [
          {
            "node": "Prepare Welcome Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Welcome Payload": {
      "main": [
        [
          {
            "node": "Log Welcome Token (Sub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Welcome Token (Sub)": {
      "main": [
        [
          {
            "node": "Return Welcome Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Prompt": {
      "main": [
        [
          {
            "node": "Support AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support AI Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Support AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Support AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Override Repeat Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Override Repeat Detection": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Cleanup Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Intent Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Ask Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Cache": {
      "main": [
        [
          {
            "node": "Cleanup Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Intent Session": {
      "main": [
        [
          {
            "node": "Prepare Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Webhook Payload": {
      "main": [
        [
          {
            "node": "Call Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Webhook": {
      "main": [
        [
          {
            "node": "Return Execute Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Intent Session": {
      "main": [
        [
          {
            "node": "Delete Old Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Intent Session": {
      "main": [
        [
          {
            "node": "Reattach Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Session Data": {
      "main": [
        [
          {
            "node": "Create Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Intent Session": {
      "main": [
        [
          {
            "node": "WF5 \u2014 Repeat Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ask Response": {
      "main": [
        [
          {
            "node": "Needs API?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs API?": {
      "main": [
        [
          {
            "node": "Prep API Req",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep API Req": {
      "main": [
        [
          {
            "node": "Fetch API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch API": {
      "main": [
        [
          {
            "node": "Map & Prep Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map & Prep Cache": {
      "main": [
        [
          {
            "node": "Extract Cache Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cache Fields": {
      "main": [
        [
          {
            "node": "Save Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Cache": {
      "main": [
        [
          {
            "node": "Build API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Response": {
      "main": [
        [
          {
            "node": "Log  Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Token": {
      "main": [
        [
          {
            "node": "Return Ask Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log  Token": {
      "main": [
        [
          {
            "node": "Return API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Token3": {
      "main": [
        [
          {
            "node": "Return Repeat Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF5 \u2014 Repeat Engine": {
      "main": [
        [
          {
            "node": "Log Token3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auth Filter Query": {
      "main": [
        [
          {
            "node": "Needs Auth Filter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Auth Filter?": {
      "main": [
        [
          {
            "node": "Fetch Authorized Forms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Org Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Authorized Forms": {
      "main": [
        [
          {
            "node": "Resolve Org Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Org Intents": {
      "main": [
        [
          {
            "node": "Build Name Lookup Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Cache on Reset": {
      "main": [
        [
          {
            "node": "Cleanup Sessions on Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Sessions on Reset": {
      "main": [
        [
          {
            "node": "Build Welcome Check Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Name Lookup Query": {
      "main": [
        [
          {
            "node": "Fetch Auth Name Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Auth Name Record": {
      "main": [
        [
          {
            "node": "Check Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Authorization": {
      "main": [
        [
          {
            "node": "Check Org and Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Config": {
      "main": [
        [
          {
            "node": "Find Organization and intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}