WF5 — Repeat Engine.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "bfc4c967-566e-43c7-a5dd-7df93db9bc57",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        8112,
        -2096
      ]
    },
    {
      "parameters": {
        "collection": "intent_sessions",
        "options": {},
        "query": "={{ JSON.stringify({ phoneNumber: $json.phoneNumber }) }}"
      },
      "id": "1c135eaa-81f6-41e1-a343-7e55410b31a0",
      "name": "Fetch Intent Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        8528,
        -2096
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "collection": "organization_intents",
        "options": {},
        "query": "={{ JSON.stringify({ _id: $('Fetch Intent Session').first().json.organizationIntentId, parentOrganizationId: $('Fetch Intent Session').first().json.parentOrganizationId }) }}"
      },
      "id": "07fc276d-1a4f-4794-8179-7a8fc30ab620",
      "name": "Fetch Org Doc",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        8752,
        -2096
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const session = $('Fetch Intent Session').first().json;\nconst orgDoc = $('Fetch Org Doc').first().json;\nconst trigger = $('Execute Workflow Trigger').first().json;\nconst messageSource = trigger.messageSource;\nconst userInput = trigger.userInput;\nconst intent = (orgDoc.intents || []).find(i => i.name === session.intentName);\nif (!intent) throw new Error('Intent not found: ' + session.intentName);\n\nconst repeatConfig = intent.repeatSections?.[session.sectionName] || {};\nlet subParams = repeatConfig.parameters || [];\nif (!subParams.length) {\n  const isMaster = (session.sectionName || '').toLowerCase().includes('master');\n  subParams = [{\n    name: session.sectionName,\n    type: isMaster ? 'list_buttons' : 'options',\n    resolvedBy: 'user',\n    description: repeatConfig.description || ('Select ' + session.sectionName)\n  }];\n}\n\nlet completedItems, currentItem, genQuestions;\ntry { completedItems = typeof session.completedItems === 'string' ? JSON.parse(session.completedItems) : (session.completedItems || []); } catch(e) { completedItems = []; }\ntry { currentItem = typeof session.currentItem === 'string' ? JSON.parse(session.currentItem) : (session.currentItem || {}); } catch(e) { currentItem = {}; }\ntry { genQuestions = session.generatedQuestions ? (typeof session.generatedQuestions === 'string' ? JSON.parse(session.generatedQuestions) : session.generatedQuestions) : null; } catch(e) { genQuestions = null; }\n\nconst fieldIndex = session.currentFieldIndex || 0;\nconst cycle = session.currentCycle || 1;\n\n// ENTERING REPEAT — first time (from WF4)\nif (messageSource === 'entering_repeat') {\n  return [{ json: {\n    action: genQuestions ? 'ask_next_field' : 'generate_questions',\n    nextField: subParams[0],\n    nextFieldIndex: 0,\n    updatedSession: { ...session, currentFieldIndex: 0, currentItem: '{}', currentCycle: 1 },\n    subParams, repeatConfig, genQuestions, completedItems, currentItem: {}\n  }}];\n}\n\n// REPEAT YES — add another\nif (messageSource === 'repeat_yes') {\n  if (Object.keys(currentItem).length > 0) completedItems.push(currentItem);\n  return [{ json: {\n    action: 'ask_next_field',\n    nextField: subParams[0],\n    nextFieldIndex: 0,\n    updatedSession: { ...session, currentCycle: cycle + 1, currentFieldIndex: 0, currentItem: '{}', completedItems: JSON.stringify(completedItems) },\n    subParams, repeatConfig, genQuestions, completedItems, currentItem: {}\n  }}];\n}\n\n// REPEAT NO — done collecting\nif (messageSource === 'repeat_no') {\n  if (Object.keys(currentItem).length > 0) completedItems.push(currentItem);\n  // Merge pre-repeat fields with repeat array\n  let preFields = {};\n  try { preFields = typeof session.collectedFields === 'string' ? JSON.parse(session.collectedFields) : (session.collectedFields || {}); } catch(e) {}\n  preFields[session.sectionName] = completedItems;\n  return [{ json: {\n    action: 'repeat_complete',\n    mergedCollectedFields: JSON.stringify(preFields),\n    itemCount: completedItems.length,\n    updatedSession: { ...session, phase: 'collecting', collectedFields: JSON.stringify(preFields), completedItems: JSON.stringify(completedItems), currentItem: '{}' }\n  }}];\n}\n\n// SAFETY: if fieldIndex past all sub-fields, re-send continue\nif (fieldIndex >= subParams.length) {\n  return [{ json: {\n    action: 'send_continue',\n    updatedSession: { ...session, currentItem: JSON.stringify(currentItem), currentFieldIndex: fieldIndex },\n    repeatConfig, genQuestions, completedItems, currentItem\n  }}];\n}\n\n// USER ANSWERED A FIELD\nconst currentField = subParams[fieldIndex];\ncurrentItem[currentField.name] = userInput;\nconst nextIndex = fieldIndex + 1;\n\nif (nextIndex >= subParams.length) {\n  // All sub-fields done for this cycle\n  return [{ json: {\n    action: 'send_continue',\n    updatedSession: { ...session, currentItem: JSON.stringify(currentItem), currentFieldIndex: nextIndex },\n    repeatConfig, genQuestions, completedItems, currentItem\n  }}];\n}\n\n// More sub-fields\nreturn [{ json: {\n  action: 'ask_next_field',\n  nextField: subParams[nextIndex],\n  nextFieldIndex: nextIndex,\n  updatedSession: { ...session, currentFieldIndex: nextIndex, currentItem: JSON.stringify(currentItem) },\n  subParams, repeatConfig, genQuestions, completedItems, currentItem\n}}];"
      },
      "id": "c3d2941c-ccad-4a79-aff6-03dff1111b29",
      "name": "Repeat Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8976,
        -2096
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b829481c-0208-4154-a95b-3fcf58ea8f57",
              "leftValue": "={{ $json.action }}",
              "rightValue": "repeat_complete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1c8485d-f825-4f95-8979-e7cb5c78cf70",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9200,
        -2096
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "4a53a0a1-a32a-484a-964d-30a0dc859f1a",
      "name": "Delete Session Complete",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9424,
        -2256
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Repeat Logic').first().json;\nconst s = $('Fetch Intent Session').first().json;\nreturn [{ json: {\n  userId: s.userId || s.phoneNumber,\n  phoneNumber: s.phoneNumber,\n  intentName: s.intentName,\n  organizationId: s.organizationId,\n  parentOrganizationId: s.parentOrganizationId,\n  organizationIntentId: s.organizationIntentId,\n  phase: 'collecting',\n  currentMainIndex: typeof s.currentMainIndex === 'number' ? s.currentMainIndex : 0,\n  sectionName: s.sectionName,\n  collectedFields: data.mergedCollectedFields,\n  currentItem: '{}',\n  completedItems: '[]',\n  createdAt: s.createdAt || new Date().toISOString()\n} }];"
      },
      "id": "0155bdb2-361e-49ae-a953-6c953d6f7293",
      "name": "Prep Complete Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9648,
        -2256
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "intent_sessions",
        "fields": "userId,phoneNumber,intentName,organizationId,parentOrganizationId,organizationIntentId,phase,currentMainIndex,sectionName,collectedFields,currentItem,completedItems,createdAt",
        "options": {}
      },
      "id": "3e2c6b59-36c2-4a40-a652-72faffbb7064",
      "name": "Insert Complete Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        9872,
        -2256
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "options_cache",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "d6021ed7-0399-491e-9ba6-9972a1a69f67",
      "name": "Delete Options Cache Complete",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        10096,
        -2256
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const s = $('Fetch Intent Session').first().json;\nreturn [{ json: { responseType: \"__repeat_done__\", repeatComplete: true, sectionName: s.sectionName, mergedCollectedFields: $('Prep Complete Insert').first().json.collectedFields } }];"
      },
      "id": "a7f647e9-b180-480c-a883-6598cc85878a",
      "name": "Return Complete Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10320,
        -2256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66120b2c-940c-456c-b676-a5b9f82cc7d2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "generate_questions",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44660865-6a38-4b64-b135-54d159babbd6",
      "name": "Needs Question Gen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9424,
        -1952
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "intent_sessions",
        "query": "={{ JSON.stringify({ phoneNumber: $('Execute Workflow Trigger').first().json.phoneNumber }) }}"
      },
      "id": "561c2007-2164-4d16-8a72-deffe7c7af94",
      "name": "Delete Old Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        10352,
        -1936
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from either Question Gen path or direct path\nlet data;\ntry { data = $('Parse Questions').first().json; } catch(e) { try { data = $('Build Verbatim Questions').first().json; } catch(e2) { data = $('Repeat Logic').first().json; } }\nconst s = data.updatedSession || {};\nreturn [{ json: {\n  action: data.action,\n  nextField: data.nextField,\n  userId: s.userId, phoneNumber: s.phoneNumber, intentName: s.intentName,\n  organizationId: s.organizationId, parentOrganizationId: s.parentOrganizationId,\n  phase: s.phase || 'repeat', currentMainIndex: s.currentMainIndex,\n  sectionName: s.sectionName, currentCycle: s.currentCycle, currentFieldIndex: s.currentFieldIndex,\n  completedItems: typeof s.completedItems === 'string' ? s.completedItems : JSON.stringify(s.completedItems || []),\n  currentItem: typeof s.currentItem === 'string' ? s.currentItem : JSON.stringify(s.currentItem || {}),\n  collectedFields: typeof s.collectedFields === 'string' ? s.collectedFields : JSON.stringify(s.collectedFields || {}),\n  generatedQuestions: typeof s.generatedQuestions === 'string' ? s.generatedQuestions : JSON.stringify(s.generatedQuestions || {}),\n  createdAt: s.createdAt || new Date().toISOString()\n} }];"
      },
      "id": "926628d7-bffe-4ee2-94cb-7571cbfa4294",
      "name": "Prepare Session Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10560,
        -1952
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "intent_sessions",
        "fields": "userId,phoneNumber,intentName,organizationId,parentOrganizationId,phase,currentMainIndex,sectionName,currentCycle,currentFieldIndex,completedItems,currentItem,collectedFields,generatedQuestions,createdAt",
        "options": {}
      },
      "id": "52ff55d0-611a-494b-a472-5d2040c779c1",
      "name": "Save Session",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        10784,
        -1952
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3d2f414-212f-4a94-8950-dfdb4c1dbfaf",
              "leftValue": "={{ $json.action || $('Repeat Logic').first().json.action }}",
              "rightValue": "send_continue",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5dc05ff-9d9c-4570-871d-d6bb7a8b198a",
      "name": "Is Continue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        11008,
        -1952
      ]
    },
    {
      "parameters": {
        "jsCode": "let data;\ntry { data = $('Repeat Logic').first().json; } catch(e) { data = $input.first().json; }\nconst orgDoc = $('Fetch Org Doc').first().json;\nconst intent = (orgDoc.intents || []).find(i => i.name === $('Fetch Intent Session').first().json.intentName);\nconst repeatConfig = intent?.repeatSections?.[$('Fetch Intent Session').first().json.sectionName] || data.repeatConfig || {};\nconst phoneNumber = $('Execute Workflow Trigger').first().json.phoneNumber;\nconst opts = repeatConfig.continueOptions || ['Yes', 'No'];\nconst payload = {\n  messaging_product: \"whatsapp\", to: phoneNumber, type: \"interactive\",\n  interactive: { type: \"button\", body: { text: repeatConfig.continuePrompt || \"Would you like to add another?\" },\n    action: { buttons: [\n      { type: \"reply\", reply: { id: \"__repeat_yes__\", title: opts[0] || \"Yes\" } },\n      { type: \"reply\", reply: { id: \"__repeat_no__\", title: opts[1] || \"No\" } }\n    ]}}\n};\nreturn [{ json: { responseType: \"interactive\", message: repeatConfig.continuePrompt || \"Would you like to add another?\", interactivePayload: payload } }];"
      },
      "id": "9d945350-ffde-4ece-abf8-00603ca652c8",
      "name": "Build Continue Buttons",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11216,
        -2064
      ]
    },
    {
      "parameters": {
        "jsCode": "let data;\ntry { data = $('Parse Questions').first().json; } catch(e) { try { data = $('Build Verbatim Questions').first().json; } catch(e2) { data = $('Repeat Logic').first().json; } }\nconst field = data.nextField;\nif (!field || !field.name) {\n  return [{ json: { responseType: \"text\", message: \"No field specified\", needsAPI: false } }];\n}\nconst questions = data.genQuestions || {};\nconst question = questions[field.name] || field.description || 'Please provide ' + field.name;\nconst phoneNumber = $('Execute Workflow Trigger').first().json.phoneNumber;\nconst orgDoc = $('Fetch Org Doc').first().json;\nconst session = $('Fetch Intent Session').first().json;\nconst intent = (orgDoc.intents || []).find(i => i.name === session.intentName);\nconst repeatConfig = intent?.repeatSections?.[session.sectionName];\nlet param = (repeatConfig?.parameters || []).find(p => p.name === field.name);\nif (!param || (!param.options?.length && !param.optionsConfig?.url)) {\n  const nameLower = (field.name || '').toLowerCase();\n  const isMaster = nameLower.includes('master');\n  if (field.name === 'randomString') {\n    param = {\n      name: 'randomString',\n      type: 'options',\n      options: [\n        { id: 'abcd', title: 'abcd' },\n        { id: 'efgh', title: 'efgh' },\n        { id: 'ijkl', title: 'ijkl' },\n        { id: 'mnop', title: 'mnop' }\n      ]\n    };\n  } else if (isMaster) {\n    param = {\n      name: field.name,\n      type: 'list_buttons',\n      optionsSource: 'api',\n      optionsConfig: {\n        url: '/ai-chat/get-options/6a2bdb9085cb079aedcf6ed1',\n        method: 'POST',\n        headers: {},\n        body: { collectFields: ['_id', 'place'] },\n        mapping: { id: '_id', title: 'place' },\n        dataPath: 'data'\n      }\n    };\n  } else if (!param) {\n    param = { name: field.name, type: field.type || 'text' };\n  }\n}\n\nif (!param || field.type === 'text') {\n  return [{ json: { responseType: \"text\", message: question, needsAPI: false } }];\n}\n\nconst optionsSource = param.optionsSource || 'static';\n\nif ((field.type === 'list_buttons' || param.type === 'list_buttons') && optionsSource === 'api' && param.optionsConfig) {\n  return [{ json: { responseType: \"__needs_api__\", message: question, needsAPI: true, optionsConfig: param.optionsConfig, fieldName: field.name, intentName: intent.name } }];\n}\n\nlet opts = (param.options || []).map((o, i) => ({ id: typeof o === 'string' ? o : (o.id || String(i)), title: typeof o === 'string' ? o : (o.title || '') }));\n\nlet completedItems = [];\nlet currentItem = {};\ntry { completedItems = typeof session.completedItems === 'string' ? JSON.parse(session.completedItems) : (session.completedItems || []); } catch(e) {}\ntry { currentItem = typeof session.currentItem === 'string' ? JSON.parse(session.currentItem) : (session.currentItem || {}); } catch(e) {}\nconst chosenSet = new Set();\n(Array.isArray(completedItems) ? completedItems : []).forEach(item => {\n  if (item && typeof item === 'object') {\n    const val = item[field.name] || item.value || item.id || item.refId;\n    if (val !== undefined && val !== null) chosenSet.add(String(val).toLowerCase());\n  } else if (item !== undefined && item !== null) {\n    chosenSet.add(String(item).toLowerCase());\n  }\n});\nif (currentItem && currentItem[field.name] !== undefined && currentItem[field.name] !== null) {\n  chosenSet.add(String(currentItem[field.name]).toLowerCase());\n}\nif (chosenSet.size > 0) {\n  opts = opts.filter(o => !chosenSet.has(String(o.id).toLowerCase()) && !chosenSet.has(String(o.title).toLowerCase()));\n}\nif (opts.length === 0) {\n  return [{ json: { responseType: \"text\", message: \"All available options have been selected for \" + field.name + \".\", needsAPI: false } }];\n}\n\nif ((field.type === 'options' || param.type === 'options') && opts.length <= 3) {\n  const btns = opts.map(o => ({ type: \"reply\", reply: { id: o.id, title: o.title.substring(0, 20) } }));\n  return [{ json: { responseType: \"interactive\", message: question, needsAPI: false, interactivePayload: { messaging_product: \"whatsapp\", to: phoneNumber, type: \"interactive\", interactive: { type: \"button\", body: { text: question }, action: { buttons: btns } } } } }];\n}\n\nconst PAGE_SIZE = 9; const needsP = opts.length > 10;\nconst rows = (needsP ? opts.slice(0, PAGE_SIZE) : opts).map(o => ({ id: o.id, title: o.title.substring(0, 24) }));\nif (needsP) rows.push({ id: '__page__' + intent.name + '__' + field.name + '__2', title: '\\u25B6 More options' });\nreturn [{ json: { responseType: \"interactive\", message: question, needsAPI: false, interactivePayload: { messaging_product: \"whatsapp\", recipient_type: \"individual\", to: phoneNumber, type: \"interactive\", interactive: { type: \"list\", body: { text: question }, action: { button: \"Select an option\", sections: [{ rows }] } } } } }];"
      },
      "id": "e7a1a657-1b4a-407e-8a9b-70c9edb10eb0",
      "name": "Build Field Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11216,
        -1904
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "969b3432-97f2-4303-a0f2-9a3758fc2d55",
              "leftValue": "={{ $json.needsAPI }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec5e549b-1df7-4e7c-8933-2fc36c1a880d",
      "name": "Field Needs API?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        11440,
        -1904
      ]
    },
    {
      "parameters": {
        "jsCode": "let r;\ntry { r = $('Build Field Response').first().json; } catch(e) { r = $('Build Continue Buttons').first().json; }\nreturn [{ json: { responseType: r.responseType, message: r.message, interactivePayload: r.interactivePayload || undefined } }];"
      },
      "id": "76b420b8-8ed6-4905-aee9-0774d7b8bd20",
      "name": "Return Field Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11440,
        -2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst c = d.optionsConfig || {};\nconst orgDoc = $('Fetch Org Doc').first().json;\nlet url = c.url || '';\nif (url && url.startsWith('/')) {\n  const baseUrl =  $('Call Config').first().json.BACKEND_BASE_URL\n  url = baseUrl.replace(/\\/$/, '') + url;\n}\nreturn [{ json: { url: url, method: c.method||'GET', headers: c.headers||{}, body: {...(c.body||{}), parentOrganizationId: orgDoc.parentOrganizationId}, mapping: c.mapping||{id:'id',title:'title'}, dataPath: c.dataPath||null, message: d.message, intentName: d.intentName, fieldName: d.fieldName } }];"
      },
      "id": "5774178c-71ad-4c41-bc69-7e8b5f4bc8be",
      "name": "Prep Repeat API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11664,
        -2000
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "12affa36-5a3f-4bc4-8c91-6a7b1e4cb4ea",
      "name": "Fetch Repeat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11888,
        -2000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Sdec288NlfXYh6zO",
          "name": "x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const api = $input.first().json;\nconst p = $('Prep Repeat API').first().json;\nlet raw = api; if(p.dataPath){for(const k of p.dataPath.split('.'))raw=raw?.[k];}\nif(!Array.isArray(raw)) raw = [];\nlet opts = raw.map(i => ({ id: String(i[p.mapping.id]||''), title: String(i[p.mapping.title]||'') }));\nconst ph = $('Execute Workflow Trigger').first().json.phoneNumber;\nconst session = $('Fetch Intent Session').first().json;\nlet completedItems = [];\nlet currentItem = {};\ntry { completedItems = typeof session.completedItems === 'string' ? JSON.parse(session.completedItems) : (session.completedItems || []); } catch(e) {}\ntry { currentItem = typeof session.currentItem === 'string' ? JSON.parse(session.currentItem) : (session.currentItem || {}); } catch(e) {}\nconst chosenSet = new Set();\n(Array.isArray(completedItems) ? completedItems : []).forEach(item => {\n  if (item && typeof item === 'object') {\n    const val = item[p.fieldName] || item.value || item.id || item.refId;\n    if (val !== undefined && val !== null) chosenSet.add(String(val).toLowerCase());\n  } else if (item !== undefined && item !== null) {\n    chosenSet.add(String(item).toLowerCase());\n  }\n});\nif (currentItem && currentItem[p.fieldName] !== undefined && currentItem[p.fieldName] !== null) {\n  chosenSet.add(String(currentItem[p.fieldName]).toLowerCase());\n}\nif (chosenSet.size > 0) {\n  opts = opts.filter(o => !chosenSet.has(String(o.id).toLowerCase()) && !chosenSet.has(String(o.title).toLowerCase()));\n}\nreturn [{ json: { phoneNumber: ph, intentName: p.intentName, fieldName: p.fieldName, options: JSON.stringify(opts), totalCount: opts.length, createdAt: new Date().toISOString(), message: p.message, resolvedOptions: opts } }];"
      },
      "id": "61317c3c-5adf-405d-b12c-707a04bce7ed",
      "name": "Map Repeat API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12112,
        -2000
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;return [{json:{phoneNumber:d.phoneNumber,intentName:d.intentName,fieldName:d.fieldName,options:d.options,totalCount:d.totalCount,createdAt:d.createdAt}}];"
      },
      "id": "f4afa482-4178-498d-bf4e-d6179b58239a",
      "name": "Prep Repeat Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12336,
        -2000
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "options_cache",
        "fields": "phoneNumber,intentName,fieldName,options,totalCount,createdAt",
        "options": {}
      },
      "id": "845d1fc0-30f6-4fcf-8ca2-8600366ade5e",
      "name": "Save Repeat Cache",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        12560,
        -2000
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Map Repeat API').first().json;\nconst opts = d.resolvedOptions || []; const ph = d.phoneNumber;\nconst p = $('Prep Repeat API').first().json;\nif(!opts.length) return [{ json: { responseType: \"text\", message: d.message } }];\nconst PS=9; const needsP=opts.length>10;\nconst rows = (needsP?opts.slice(0,PS):opts).map(o=>({id:o.id,title:o.title.substring(0,24)}));\nif(needsP) rows.push({id:'__page__'+p.intentName+'__'+p.fieldName+'__2',title:'\\u25B6 More options'});\nreturn [{ json: { responseType: \"interactive\", message: d.message, interactivePayload: { messaging_product:\"whatsapp\", recipient_type:\"individual\", to:ph, type:\"interactive\", interactive:{type:\"list\",body:{text:d.message},action:{button:\"Select an option\",sections:[{rows}]}}} } }];"
      },
      "id": "96d78a14-0430-478b-b6c9-5ea47a9428f5",
      "name": "Build Repeat API List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12784,
        -2000
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Build Repeat API List').first().json }];"
      },
      "id": "b1ab13a7-58e8-432e-a704-72b724b610c2",
      "name": "Return Repeat API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13008,
        -2000
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Repeat Logic').first().json;\nconst subParams = data.subParams || [];\n// Use the exact configured description verbatim as the question —\n// no LLM rephrasing, so what the org types is exactly what the user sees.\nconst questions = Object.fromEntries(subParams.map(p => [p.name, p.description || p.name]));\nconst session = data.updatedSession;\nsession.generatedQuestions = JSON.stringify(questions);\nreturn [{ json: { ...data, genQuestions: questions, updatedSession: session } }];"
      },
      "id": "849cedf5-e4dc-477c-bfaf-4660efc5bc16",
      "name": "Build Verbatim Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9648,
        -2080
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Gw1Jjb0yGermneDS",
          "mode": "id",
          "cachedResultUrl": "/workflow/Gw1Jjb0yGermneDS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "f7973967-39b3-4108-9579-53b6882c9b83",
      "name": "Call Config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        8352,
        -2096
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Call Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Intent Session": {
      "main": [
        [
          {
            "node": "Fetch Org Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Org Doc": {
      "main": [
        [
          {
            "node": "Repeat Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repeat Logic": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Delete Session Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Question Gen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session Complete": {
      "main": [
        [
          {
            "node": "Prep Complete Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Complete Insert": {
      "main": [
        [
          {
            "node": "Insert Complete Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Complete Session": {
      "main": [
        [
          {
            "node": "Delete Options Cache Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Options Cache Complete": {
      "main": [
        [
          {
            "node": "Return Complete Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Question Gen?": {
      "main": [
        [
          {
            "node": "Build Verbatim Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Old Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Session": {
      "main": [
        [
          {
            "node": "Prepare Session Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Insert": {
      "main": [
        [
          {
            "node": "Save Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session": {
      "main": [
        [
          {
            "node": "Is Continue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Continue?": {
      "main": [
        [
          {
            "node": "Build Continue Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Field Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Continue Buttons": {
      "main": [
        [
          {
            "node": "Return Field Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Field Response": {
      "main": [
        [
          {
            "node": "Field Needs API?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Field Needs API?": {
      "main": [
        [
          {
            "node": "Prep Repeat API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Field Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Repeat API": {
      "main": [
        [
          {
            "node": "Fetch Repeat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Repeat API": {
      "main": [
        [
          {
            "node": "Map Repeat API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Repeat API": {
      "main": [
        [
          {
            "node": "Prep Repeat Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Repeat Cache": {
      "main": [
        [
          {
            "node": "Save Repeat Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Repeat Cache": {
      "main": [
        [
          {
            "node": "Build Repeat API List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repeat API List": {
      "main": [
        [
          {
            "node": "Return Repeat API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Verbatim Questions": {
      "main": [
        [
          {
            "node": "Delete Old Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Config": {
      "main": [
        [
          {
            "node": "Fetch Intent Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "userId": "919645584806",
        "phoneNumber": "919645584806",
        "intentName": "Attach Course",
        "organizationIntentId": "6a3282d2a8a646169fa9fa41",
        "parentOrganizationId": "676e2f6f8a25694512606472",
        "phase": "repeat",
        "currentMainIndex": 3,
        "sectionName": "masterMultiSelect",
        "currentCycle": 1,
        "currentFieldIndex": 0,
        "completedItems": "[]",
        "currentItem": "{}",
        "collectedFields": "{\"courseName\":\"Maths\",\"fees\":\"4000\",\"randomString\":[{\"randomString\":\"ijkl\"},{\"randomString\":\"abcd\"}]}",
        "generatedQuestions": "",
        "createdAt": "2026-07-20T09:26:13.373Z",
        "_id": "6a5de9b5deab145a8718bcc7",
        "id": "6a5de9b5deab145a8718bcc7",
        "messageSource": "entering_repeat",
        "userInput": "",
        "organizationId": "6a3282d2a8a646169fa9fa41"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}