WF6 — Sync Intents Between DBs.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create_organization_intent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3355db50-2632-4ce8-8c18-8c63dd0408c4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        -224
      ],
      "webhookId": "create-org-intent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate the inbound x-n8n-api-key header\n// In n8n webhook v2, headers are at $json.headers\nconst apiKey = $input.first().json.headers?.['x-n8n-api-key'] || '';\nconst expected = 'ucsxrW9pLioAS43nod5tP353faVOe'; // N8N_API_KEY from backend .env\n\nif (!apiKey || apiKey !== expected) {\n  return [{ json: { valid: false, error: 'Unauthorized' } }];\n}\n\nreturn [{ json: { valid: true } }];"
      },
      "id": "b0e03f16-f1fc-4648-8d4d-ecaeac4a2aab",
      "name": "Validate API Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "auth-check-condition",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1621f884-898a-4dfd-b430-489df58d3be8",
      "name": "Is Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        -224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "8d0b0d8d-dd7a-40f9-93e9-9716c3a46e50",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the organizations document from the webhook payload.\n// In n8n webhook v2, the POST body is at $json.body\n// Fall back to $json directly in case the structure differs.\nconst raw = $('Webhook').first().json;\nconst body = (raw.body && typeof raw.body === 'object' && raw.body.organizationIntentId)\n  ? raw.body\n  : raw;\n\nconst organizationIntentId = body.organizationIntentId;\nconst parentOrganizationId = body.parentOrganizationId;\nconst name = body.name || 'Unknown';\nconst workflowName = body.workflowName || '';\nconst welcomeMessage = body.welcomeMessage || '';\nconst welcomeImage = body.welcomeImage || '';\nconst unauthorizedMessage = body.unauthorizedMessage || '';\nconst authFormId = body.authFormId || '';\nconst authPhoneField = body.authPhoneField || '';\nconst authNameField = body.authNameField || '';\nconst businessPhoneNumber = body.businessPhoneNumber || null;\nconst allowExternalUser = body.allowExternalUser === true;\nconst userIntent = body.userIntent || null;\nconst intents = body.intents || [];\n\nif (!organizationIntentId || !parentOrganizationId) {\n  throw new Error('Missing required fields: organizationIntentId or parentOrganizationId. Received: ' + JSON.stringify(body));\n}\n\n// Strip lookupValue from parameters before storing\nconst cleanIntents = intents.map(intent => ({\n  ...intent,\n  parameters: (intent.parameters || []).map(({ lookupValue, ...rest }) => rest)\n}));\n\n// _id is stored as a plain string.\n// n8n's MongoDB node returns _id as string, so WF3 saves organizationId as string,\n// and WF4 queries with that same string — all consistent.\nreturn [{\n  json: {\n    _id: organizationIntentId,\n    parentOrganizationId,\n    name,\n    workflowName,\n    welcomeMessage,\n    welcomeImage,\n    unauthorizedMessage,\n    authFormId,\n    authPhoneField,\n    authNameField,\n    businessPhoneNumber,\n    allowExternalUser,\n    userIntent,\n    intents: cleanIntents,\n    updatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "d33378bb-276b-47b2-a956-dd453af80c14",
      "name": "Build Org Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "organization_intents",
        "updateKey": "_id",
        "fields": "parentOrganizationId,name,workflowName,welcomeMessage,welcomeImage,unauthorizedMessage,authFormId,authPhoneField,authNameField,businessPhoneNumber,allowExternalUser,userIntent,intents,updatedAt",
        "upsert": true,
        "options": {}
      },
      "id": "d3d3ce3a-a300-4d36-b56e-4f020090ff46",
      "name": "Update Org Document",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1136,
        -224
      ],
      "credentials": {
        "mongoDb": {
          "id": "QinkzqpoUrJYXZ4u",
          "name": "ddf-chat-bot-prod"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $('Build Org Document').first().json._id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "92e11383-5240-44e2-9d5f-a44bb431985d",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1408,
        -224
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Build Org Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Org Document": {
      "main": [
        [
          {
            "node": "Update Org Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Org Document": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}