WF6 — Create Organization Intent.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create_organization_intent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "14abbee3-20ba-4ced-8d51-a82e28cc26b9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        -176
      ],
      "webhookId": "create-org-intent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate the inbound x-n8n-api-key header\n// In n8n webhook v2, headers are at $json.headers\nconst apiKey = $input.first().json.headers?.['x-n8n-api-key'] || '';\nconst expected = 'ucsxrW9pLioAS43nod5tP353faVOe'; // N8N_API_KEY from backend .env\n\nif (!apiKey || apiKey !== expected) {\n  return [{ json: { valid: false, error: 'Unauthorized' } }];\n}\n\nreturn [{ json: { valid: true } }];"
      },
      "id": "a4a2e06f-4dd3-4de9-97f3-750dc131d7d3",
      "name": "Validate API Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "auth-check-condition",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4edaf7db-4bf6-4961-a900-48de0caaec24",
      "name": "Is Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        -176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "f4acfc78-0f66-45d6-9913-a81561feaa6d",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        768,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the organizations document from the webhook payload.\n// In n8n webhook v2, the POST body is at $json.body\n// Fall back to $json directly in case the structure differs.\nconst raw = $('Webhook').first().json;\nconst body = (raw.body && typeof raw.body === 'object' && raw.body.organizationIntentId)\n  ? raw.body\n  : raw;\n\nconst organizationIntentId = body.organizationIntentId;\nconst parentOrganizationId = body.parentOrganizationId;\nconst name = body.name || 'Unknown';\nconst businessPhoneNumber = body.businessPhoneNumber || null;\nconst allowExternalUser = body.allowExternalUser === true;\nconst userIntent = body.userIntent || null;\nconst intents = body.intents || [];\n\nif (!organizationIntentId || !parentOrganizationId) {\n  throw new Error('Missing required fields: organizationIntentId or parentOrganizationId. Received: ' + JSON.stringify(body));\n}\n\n// Strip lookupValue from parameters before storing\nconst cleanIntents = intents.map(intent => ({\n  ...intent,\n  parameters: (intent.parameters || []).map(({ lookupValue, ...rest }) => rest)\n}));\n\n// _id is stored as a plain string.\n// n8n's MongoDB node returns _id as string, so WF3 saves organizationId as string,\n// and WF4 queries with that same string — all consistent.\nreturn [{\n  json: {\n    _id: organizationIntentId,\n    parentOrganizationId,\n    name,\n    businessPhoneNumber,\n    allowExternalUser,\n    userIntent,\n    intents: cleanIntents,\n    updatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "eac2a9a6-8522-4ff0-983d-8425bcbd03b2",
      "name": "Build Org Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "organizations",
        "updateKey": "_id",
        "fields": "parentOrganizationId,name,businessPhoneNumber,allowExternalUser,userIntent,intents,updatedAt",
        "options": {
          "upsert": true
        }
      },
      "id": "1209c4da-990d-4fbc-b559-ff678797d1e2",
      "name": "Update Org Document",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        992,
        -176
      ],
      "credentials": {
        "mongoDb": {
          "id": "JD7umzuj40Yv7xDh",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $('Build Org Document').first().json._id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2312e4bd-5b16-4305-9b0d-1554d658db0e",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1664,
        -176
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Build Org Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Org Document": {
      "main": [
        [
          {
            "node": "Update Org Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Org Document": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}