WF6 — Sync Intents Between DBs.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create_organization_intent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f336af46-3c40-47e0-81af-92350a9fa44c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -512,
        -48
      ],
      "webhookId": "create-org-intent-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate the inbound x-n8n-api-key header\n// In n8n webhook v2, headers are at $json.headers\nconst apiKey = $input.first().json.headers?.['x-n8n-api-key'] || '';\nconst expected = 'ucsxrW9pLioAS43nod5tP353faVOe'; // N8N_API_KEY from backend .env\n\nif (!apiKey || apiKey !== expected) {\n  return [{ json: { valid: false, error: 'Unauthorized' } }];\n}\n\nreturn [{ json: { valid: true } }];"
      },
      "id": "883592b8-82d9-4e2f-a2ec-eb9c2363b476",
      "name": "Validate API Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "auth-check-condition",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3b026c6-0f80-4199-a01f-68a869d050e2",
      "name": "Is Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unauthorized' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "2c425d02-d307-4bd9-b425-0324e5805ab8",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the organizations document from the webhook payload.\n// In n8n webhook v2, the POST body is at $json.body\n// Fall back to $json directly in case the structure differs.\nconst raw = $('Webhook').first().json;\nconst body = (raw.body && typeof raw.body === 'object' && raw.body.organizationIntentId)\n  ? raw.body\n  : raw;\n\nconst organizationIntentId = body.organizationIntentId;\nconst parentOrganizationId = body.parentOrganizationId;\nconst name = body.name || 'Unknown';\nconst businessPhoneNumber = body.businessPhoneNumber || null;\nconst allowExternalUser = body.allowExternalUser === true;\nconst userIntent = body.userIntent || null;\nconst intents = body.intents || [];\n\nif (!organizationIntentId || !parentOrganizationId) {\n  throw new Error('Missing required fields: organizationIntentId or parentOrganizationId. Received: ' + JSON.stringify(body));\n}\n\n// Strip lookupValue from parameters before storing\nconst cleanIntents = intents.map(intent => ({\n  ...intent,\n  parameters: (intent.parameters || []).map(({ lookupValue, ...rest }) => rest)\n}));\n\n// _id is stored as a plain string.\n// n8n's MongoDB node returns _id as string, so WF3 saves organizationId as string,\n// and WF4 queries with that same string — all consistent.\nreturn [{\n  json: {\n    _id: organizationIntentId,\n    parentOrganizationId,\n    name,\n    businessPhoneNumber,\n    allowExternalUser,\n    userIntent,\n    intents: cleanIntents,\n    updatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "b37d30f6-e34a-4e9c-b06a-4659d23d34ea",
      "name": "Build Org Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "organization_intents",
        "updateKey": "_id",
        "fields": "parentOrganizationId,name,businessPhoneNumber,allowExternalUser,userIntent,intents,updatedAt",
        "upsert": true,
        "options": {}
      },
      "id": "8a99636e-fe9e-42ca-ae16-457cb3f73a19",
      "name": "Update Org Document",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        384,
        -48
      ],
      "credentials": {
        "mongoDb": {
          "id": "idvQwFIuw5BIOf5c",
          "name": "ddf-chat-bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, id: $('Build Org Document').first().json._id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ee7a316a-6aeb-4f26-81ce-62653dba91b3",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        -48
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Build Org Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Org Document": {
      "main": [
        [
          {
            "node": "Update Org Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Org Document": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}