WF8--Whatsapp template status change callback.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// const fetched = $input.first().json;\n// const parsed = $('Parse Meta event').item.json;\n\n// const rawStatus = fetched?.status || parsed.rawStatus || '';\n\n// let status = rawStatus;\n// if (rawStatus === 'APPROVED') status = 'APPROVED';\n// else if (rawStatus === 'REJECTED' || rawStatus === 'DISABLED') status = 'REJECTED';\n// else if (rawStatus === 'PENDING') status = 'IN_REVIEW';\n// else status = rawStatus;\n\n// return [{\n//   json: {\n//     'waTemplate.waTemplateId': parsed.waTemplateId,\n//     'waTemplate.status': status,\n//     'waTemplate.reason': fetched?.quality_score?.reasons?.[0] || parsed.reason || null,\n//     'Status.isActive': status === 'APPROVED'\n//   }\n// }];\n\nconst parsed = $('Parse Meta event').item.json;\n\nlet status = parsed.finalStatus;\nif (status === 'DISABLED') status = 'REJECTED';\n\nreturn [{\n  json: {\n    'waTemplate.waTemplateId': parsed.waTemplateId,\n    'waTemplate.status': status,\n    'waTemplate.reason': parsed.reason || null,\n    'Status.isActive': status === 'APPROVED'\n  }\n}];"
      },
      "id": "b82dc2ea-0266-408c-acd2-99458009fc15",
      "name": "Build update payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "emailTemplates",
        "updateKey": "waTemplate.waTemplateId",
        "fields": "waTemplate.status,waTemplate.reason,Status.isActive",
        "options": {}
      },
      "id": "8b779a3b-77a8-4e53-982c-2569e578db74",
      "name": "MongoDB \u2013 Update template status",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        816,
        -144
      ],
      "credentials": {
        "mongoDb": {
          "id": "aX4C7RRQTBjcpgNp",
          "name": "ddf-dev"
        }
      },
      "notes": "Matches on waTemplateId, sets status + reason."
    },
    {
      "parameters": {
        "content": "Update Template Status",
        "height": 624,
        "width": 1952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -384
      ],
      "typeVersion": 1,
      "id": "e7eea9f0-f4e0-45ba-9400-3927195ac2f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// \n\nconst body = $input.first().json.body || $input.first().json;\n\n// Handle Meta webhook verification (GET challenge) \u2014 not needed here since\n// n8n webhook is POST only, but guard anyway\nif (!body.entry || !Array.isArray(body.entry)) {\n  return [{ json: { _skip: true, reason: 'Not a valid Meta webhook payload' } }];\n}\n\nconst changes = body.entry[0]?.changes || [];\nconst change  = changes.find(c => c.field === 'message_template_status_update');\n\nif (!change) {\n  return [{ json: { _skip: true, reason: 'No message_template_status_update field found' } }];\n}\n\nconst val = change.value;\n\nreturn [{\n  json: {\n    _skip:              false,\n    waTemplateId:       String(val.message_template_id),\n    templateName:       val.message_template_name,\n    templateLanguage:   val.message_template_language,\n    finalStatus:        val.event,           // APPROVED | REJECTED | DISABLED | FLAGGED\n    reason:             val.reason || 'NONE',\n    wabaId:             body.entry[0]?.id\n  }\n}];\n"
      },
      "id": "d4009e6c-4b09-49e5-a19b-ed0c763e6908",
      "name": "Parse Meta event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "id": "f6a7b8c9-d0e1-2345-fabc-456789012345"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "393bb46b-6bf5-4d91-b65c-03cf709d1c93",
      "name": "Is valid template event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        -128
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "9ed32046-b30a-43bf-800e-73918aa72366",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        -320
      ]
    }
  ],
  "connections": {
    "Build update payload": {
      "main": [
        [
          {
            "node": "MongoDB \u2013 Update template status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meta event": {
      "main": [
        [
          {
            "node": "Is valid template event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is valid template event?": {
      "main": [
        [
          {
            "node": "Build update payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Meta event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "96f10b425b1561bd57e5c02b65a77db5d56e1653285455cd28a3571ec454bd10"
  }
}